<h2>Admin Control Panel</h2>

<% current_solr_core_url =  YAML.load_file('config/solr.yml')[Rails.env]['url'] %>

<h3>Application Information</h3>
<ul>
		<li>
				<strong>Rails Environment:</strong>
				<%= Rails.env %>
		</li>
		<li>
				<strong>App Version:</strong>
				<%= IO.read('VERSION') %>
		</li>
		<li>
				<strong>App File System Location:</strong>
				<%= Dir.getwd %>
		</li>
    <li>
				<strong>Solr:</strong>
				<%= current_solr_core_url %>
		</li>
    <li>
				<strong>Fedora:</strong>
				<%= YAML.load_file('config/fedora.yml')[Rails.env]['url'] %>
		</li>
    <li>
				<strong>Ruby Version:</strong>
				<%= RUBY_VERSION %>
		</li>
		<li>
				<strong>Rails Version:</strong>
				<%= Rails::VERSION::STRING %>
		</li>
</ul>

<h3>Tools</h3>
<ul>
		<li>
        <strong>Current Solr Core (<%= current_solr_core_url %>)</strong>
        <ul>
          <li>
            <%= link_to 'Reindex', {'controller' => 'admin', 'action' => 'reindex_solr_from_xml_file'} %>
            <br />XML Source: extras/lindquist.xml (Note: Reindexing might take a while.)
          </li>
        </ul>
		</li>
    <li>
				<strong>Update the hardcoded browse list files (for the home page):</strong>
				<%= link_to 'Update!', {'controller' => 'admin', 'action' => 'update_hardcoded_browse_lists'} %>
		</li>
</ul>
