<div class="container no-hero-mobile admin_control_panel">
    <h2>Admin Control Panel</h2>
    <p>Hello, <%= current_admin.username %>!</p>
    <div>
        <h3>Application Information</h3>
        <ul>
            <li>
                <strong>Rails Environment:</strong>
                <%= Rails.env %>
            </li>
            <li>
                <strong>HRWA App Version:</strong>
                <%= IO.read('VERSION') %>
            </li>
            <li>
                <strong>Ruby Version:</strong>
                <%= RUBY_VERSION %>
            </li>
            <li>
                <strong>Rails Version:</strong>
                <%= Rails::VERSION::STRING %>
            </li>
            <li>
                <strong>HRWA App File System Location:</strong>
                <%= Dir.getwd %>
            </li>
        </ul>
        <br />

        <h3>Administrative Tools</h3>
        <p><%= link_to 'Refresh the hard-coded browse list and filter option files', refresh_browse_and_option_lists_path, :class => 'btn btn-small' %></p>
        <br />



        <h3>Change the Solr server associated with this application instance</h3>
        <p><strong>Current primary Solr server:</strong> <%=  @solr_yaml[ Rails.env ][ 'asf' ][ 'url' ][/(http:\/\/).+(:\d+)/] %></p>
        <p>

            <%= form_tag(admin_path, :method => 'post', :class => 'form-inline') do %>
                <fieldset>
                    <strong>Switch to:</strong>
                    <% current_server_name = @solr_yaml[ Rails.env ][ 'asf' ][ 'url' ][/(http:\/\/).+(.cul)/][7..-5] %>
                    <select name="new_primary_solr_server" class="input-medium">
                        <%
                            @solr_yaml['valid_overrides'].each_key do |key|
                                %><%== '<option value="' + key + '"' + (key == current_server_name ? ' selected="selected"' : '') + '>' + key + '</option>' %><%
                            end
                        %>
                    </select>
                    <input type="submit" value="Go" class="btn" />
                </fieldset>
            <% end %>
        </p>
    </div>

</div> <!-- /container -->
