<h2>Admin Control Panel</h2>

<h3>Application Information</h3>
<ul>
		<li>
				<strong>Rails Environment:</strong>
				<%= Rails.env %>
		</li>
		<li>
				<strong>App Version:</strong>
				<%= IO.read('VERSION') %>
		</li>
		<li>
				<strong>App File System Location:</strong>
				<%= Dir.getwd %>
		</li>
    <li>
				<strong>Ruby Version:</strong>
				<%= RUBY_VERSION %>
		</li>
		<li>
				<strong>Rails Version:</strong>
				<%= Rails::VERSION::STRING %>
		</li>
</ul>

<h3>Tools</h3>
<ul>
		<li>
        <strong>Current Solr Cores:</strong>
        <ul>
						<li><strong>asf:</strong> <%= @current_solr_urls['asf_url'] %></li>
						<li><strong>fsf:</strong> <%= @current_solr_urls['fsf_url'] %></li>
						<li><strong>site_detail:</strong> <%= @current_solr_urls['site_detail_url'] %></li>
						<li><strong>asf-hrwa-278:</strong> <%= @current_solr_urls['asf-hrwa-278_url'] %></li>
						<li>
								<% if @core_switching_is_possible %>
										<div class="alert alert-success"><%= @core_switching_message %></div>
								<% else %>
										<div class="alert alert-error"><%= @core_switching_message %></div>
								<% end %>

								<%= form_tag(admin_manual_solr_server_override_path, :method=>'post', :class=>'form-inline') do %>
										<select name="solr_server_name">
												<option class="mini" value="vorpal">vorpal.cul.columbia.edu</option>
												<option class="mini" value="harding">harding.cul.columbia.edu</option>
												<option class="mini" value="coolidge">coolidge.cul.columbia.edu</option>
												<option class="mini" value="carter">carter.cul.columbia.edu</option>
												<option class="mini" value="test">unit test solr</option>
										</select>
										<input type="submit" name="override" value="Override" class="btn" <%= ' disabled="disabled"' unless @core_switching_is_possible %>/>
										<input type="submit" name="reset" value="Reset to Defaults" class="btn" <%= ' disabled="disabled"' unless @core_switching_is_possible %>/>
								<% end %>
						</li>
        </ul>
		</li>
    <li>
				<strong>Update the home page hardcoded browse list files:</strong>
				<%= link_to 'Update!', {'controller' => 'admin', 'action' => 'update_hardcoded_browse_lists'}, :class => 'btn btn-mini' %>
		</li>
</ul>
