<div class="container no-hero-mobile">
    <h2>Hello, <%= current_admin.username %>!</h2>
    <br />
    <div>
        <h4>Application Information</h4>
        <ul>
            <li>
                <strong>Rails Environment:</strong>
                <%= Rails.env %>
            </li>
            <li>
                <strong>HRWA App Version:</strong>
                <%= IO.read('VERSION') %>
            </li>
            <li>
                <strong>Ruby Version:</strong>
                <%= RUBY_VERSION %>
            </li>
            <li>
                <strong>Rails Version:</strong>
                <%= Rails::VERSION::STRING %>
            </li>
            <li>
                <strong>HRWA App File System Location:</strong>
                <%= Dir.getwd %>
            </li>
        </ul>
        <br />
        <h4>Administrative Tools</h4>
        <p><%= link_to 'Refresh the hard-coded browse list and filter option files', refresh_browse_and_option_lists_path, :class => 'btn btn-small' %></p>
    </div>

</div> <!-- /container -->
