<% sidebar_items << capture do %>
  <p><%= link_back_to_catalog %></p>
<% end %>

<div class="row">

  <div id="primary" class="span9">

    <h3>Selected Items</h3>

    <% if @documents.empty? %>
      <br />
      <p>You do not currently have any selected items.</p>
      <p>To add some, perform a search and check an item's "Selected" checkbox.</p>
    <% else %>

      <div class="pageEntriesInfo">
        <%= render_pagination_info @response, :entry_name=>'item' %>
      </div>

      <div class="row">
        <%= render "catalog/results_pagination" %>
      </div>

      <div class="nomar">
        <div id="search_results">
          <ul data-toggle="modal-gallery" data-target="#modal-gallery" class="thumbnails tab-thumbnails">
            <%= render :partial => 'catalog/document', :collection => @documents, :as => :document %>
          </ul>
        </div><!--/#search_results-->
      </div><!--/.span9-->

      <div class="row">
        <%= render "catalog/results_pagination" %>
      </div>

    <% end %>
  </div>

  <div id="secondary" class="span3 nomar">
    <div class="sb_widget">
      <%= render 'tools' %>
    </div>
  </div><!--/span3-->

</div>
