<div class="row">
  <div class="span12">
	<article class="entry">
      <h2>About the Archive</h2>
      <br />
	  <!-- Photo credit: http://commons.wikimedia.org/wiki/File:Four_freedoms_human_rights.jpg -->
      <%= image_tag("four_freedoms_human_rights.jpg", :class => 'pull-right thumbnail', :id => 'about_hrwa_img' ) %>

	  <p>The Human Rights Web Archive @ Columbia University is a searchable collection of archived copies of human rights websites created by non-governmental organizations, national human rights institutions, tribunals and individuals. Collecting began in 2008 and has been ongoing for active websites. New websites are added to the collection regularly.</p>

	  <p>The HRWA is an initiative of the <%= link_to 'Center for Human Rights Documentation & Research', 'http://library.columbia.edu/content/libraryweb/indiv/humanrights.html' %> and is a key focus of the Columbia University Libraries’ <%= link_to 'Web Resources Collection Program', 'https://library.columbia.edu/bts/web_resources_collection.html' %>. The HRWA was made possible by generous support from the Andrew W. Mellon Foundation.</p>

	  <p>The interdisciplinary, wide-ranging, and highly networked field of human rights relies extensively on web-based information to disseminate publications, reports, media, and other content.  While placing material on the internet allows for widespread and rapid access to information, much of this content is at risk of disappearing within a relatively short time period.  Archiving this information and facilitating its ongoing discovery and use is essential for building the documentary record of human rights advocacy and research.</p>

	  <p>Subject specialists at Columbia University Libraries, with expertise in human rights and world regions, play a primary role in identifying websites for archiving. We also invite <%= link_to 'public nominations', public_nomination_path %> of sites from human rights researchers, advocates, and organizations. <%= link_to 'Site owners', owner_nomination_path %> can also nominate their own sites. The HRWA does not include the websites of intergovernmental organizations, such as the United Nations, and priority has been given to websites hosted in countries that do not have any systematic web archiving initiatives in place. We seek the permission of website creators and welcome suggestions from organizations and individuals who create human rights related websites.</p>

	  <p>Websites are harvested using the Archive-It service from the Internet Archive. Copies of the resulting data are stored at the Internet Archive and at Columbia University Libraries.</p>

	  <p>For more details about the Human Rights Web Archive, see our <%= link_to 'FAQ', faq_path %> page.</p>

	  <h3 id="archive_statistics_heading">Statistics</h3>
	  <table class="table table-bordered">
		  <tr><td>Websites</td><td>499</td></tr>
		  <tr><td>Documents</td><td>50,000,000</td></tr>
		  <tr><td>Data</td><td>2.5TB</td></tr>
	  </table>

    </article>
  </div>
</div>
