<h2>Admin Control Panel</h2>

<% current_solr_urls =  YAML.load_file('config/solr.yml')[Rails.env] %>

<h3>Application Information</h3>
<ul>
		<li>
				<strong>Rails Environment:</strong>
				<%= Rails.env %>
		</li>
		<li>
				<strong>App Version:</strong>
				<%= IO.read('VERSION') %>
		</li>
		<li>
				<strong>App File System Location:</strong>
				<%= Dir.getwd %>
		</li>
    <li>
				<strong>Ruby Version:</strong>
				<%= RUBY_VERSION %>
		</li>
		<li>
				<strong>Rails Version:</strong>
				<%= Rails::VERSION::STRING %>
		</li>
</ul>

<h3>Tools</h3>
<ul>
		<li>
        <strong>Current Solr Cores:</strong>
        <ul>
						<li><strong>asf:</strong> <%= current_solr_urls['asf']['url'] %></li>
						<li><strong>fsf:</strong> <%= current_solr_urls['fsf']['url'] %></li>
						<li><strong>site_detail:</strong> <%= current_solr_urls['site_detail']['url'] %></li>
						<li><form class="form-inline"><select>
								<option class="mini" value="vorpal">vorpal.cul.columbia.edu</option>
								<option class="mini" value="harding">harding.cul.columbia.edu</option>
								<option class="mini" value="carter">carter.cul.columbia.edu</option>
								<option class="mini" value="test">unit test solr</option>
						</select> <input type="submit" value="Do Manual Solr Override" class="btn"/></form></li>
        </ul>
		</li>
    <li>
				<strong>Update the home page hardcoded browse list files:</strong>
				<%= link_to 'Update!', {'controller' => 'admin', 'action' => 'update_hardcoded_browse_lists'}, :class => 'btn btn-mini' %>
		</li>
</ul>
