<ul data-tabs="tabs" class="tabs">
            <li class="active"><a href="#t1">Site Creators</a></li>
            <li><a href="#t2">Languages</a></li>
            <li><a href="#t3">Subjects</a></li>
            <li><a href="#t4">Geo. Focus</a></li>
            <li><a href="#t5">Org. Type</a></li>
</ul>
<div id="home-tab-content" class="tab-content">
	  <div id="t1" class="tab-pane active">
		<ul>
		<%= original_urls_browse_list_items %>
		</ul>
	  </div>
	  <div id="t2" class="tab-pane">
		<ul>
		<%= language__facet_browse_list_items %>
		</ul>
	  </div>
	  <div id="t3" class="tab-pane">
		<ul>
		<%= subject__facet_browse_list_items %>
		</ul>
	  </div>
	  <div id="t4" class="tab-pane">
		<ul>
		<%= geographic_focus__facet_browse_list_items %>
		</ul>
	  </div>
	  <div id="t5" class="tab-pane">
		<ul>
		<%= organization_type__facet_browse_list_items %>
		</ul>
	  </div>
</div>
