<ul data-tabs="tabs" class="tabs">
            <li class="active"><a href="#t1">Subjects</a></li>
            <li><a href="#t2">Languages</a></li>
            <li><a href="#t3">Site Creators</a></li>
            <li><a href="#t4">Geographic Focus</a></li>
            <li><a href="#t5">Organization Type</a></li>
</ul>
<div id="home-tab-content" class="tab-content">
	  <div id="t1" class="tab-pane active">
        <div class="results_control alignright"><a class="sort_default btn small" data-original-title="Sort by Count">#</a> <a class="sort_a-z btn small" data-original-title="Sort by A-Z">A-Z</a> <a class="sort_z-a btn small" data-original-title="Sort by Z-A">Z-A</a></div>
		<ul>
		<% subject_browse_list.each do |item, hits| %>
                  <%= %Q{<li><a href="search?search=true&search_type=find_site&utf8=✓&f[subject__facet][]=}.html_safe + item + %Q{">}.html_safe + item + %Q{</a> (<span>#{hits}</span>)</li>}.html_safe %>
                <% end %>
		</ul>
	  </div>
	  <div id="t2" class="tab-pane">
        <div class="results_control alignright"><a class="sort_default btn small" data-original-title="Sort by Count">#</a> <a class="sort_a-z btn small" data-original-title="Sort by A-Z">A-Z</a> <a class="sort_z-a btn small" data-original-title="Sort by Z-A">Z-A</a></div>
		<ul>
		<% language_browse_list.each do |item, hits| %>
                  <%= %Q{<li><a href="search?search=true&search_type=find_site&utf8=✓&f[language__facet][]=}.html_safe + item + %Q{">}.html_safe + item + %Q{</a> (<span>#{hits}</span>)</li>}.html_safe %>
                <% end %>
		</ul>
	  </div>
	  <div id="t3" class="tab-pane">
        <div class="results_control alignright"><a class="sort_default btn small" data-original-title="Sort by Count">#</a> <a class="sort_a-z btn small" data-original-title="Sort by A-Z">A-Z</a> <a class="sort_z-a btn small" data-original-title="Sort by Z-A">Z-A</a></div>
		<ul>
		<% creator_name_browse_list.each do |item, hits| %>
                  <%= %Q{<li><a href="search?search=true&search_type=find_site&utf8=✓&f[creator_name__facet][]=}.html_safe + item + %Q{">}.html_safe + item + %Q{</a> (<span>#{hits}</span>)</li>}.html_safe %>
                <% end %>
		</ul>
	  </div>
	  <div id="t4" class="tab-pane">
        <div class="results_control alignright"><a class="sort_default btn small" data-original-title="Sort by Count">#</a> <a class="sort_a-z btn small" data-original-title="Sort by A-Z">A-Z</a> <a class="sort_z-a btn small" data-original-title="Sort by Z-A">Z-A</a></div>
		<ul>
		<% geographic_focus_browse_list.each do |item, hits| %>
                  <%= %Q{<li><a href="search?search=true&search_type=find_site&utf8=✓&f[geographic_focus__facet][]=}.html_safe + item + %Q{">}.html_safe + item + %Q{</a> (<span>#{hits}</span>)</li>}.html_safe %>
                <% end %>
		</ul>
	  </div>
	  <div id="t5" class="tab-pane">
        <div class="results_control alignright"><a class="sort_default btn small" data-original-title="Sort by Count">#</a> <a class="sort_a-z btn small" data-original-title="Sort by A-Z">A-Z</a> <a class="sort_z-a btn small" data-original-title="Sort by Z-A">Z-A</a></div>
		<ul>
		<% organization_type_browse_list.each do |item, hits| %>
                  <%= %Q{<li><a href="search?search=true&search_type=find_site&utf8=✓&f[organization_type__facet][]=}.html_safe + item + %Q{">}.html_safe + item + %Q{</a> (<span>#{hits}</span>)</li>}.html_safe %>
                <% end %>
		</ul>
	  </div>
</div>
