    <div id="cbf" class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit hero-border">
        <h1>Human Rights Web Archive</h1>
        <h3>@ Columbia University</h3>
        <p class="invisible"><strong>Portal Prototype 2011.12</strong></p>
      </div>

      <!-- Example row of columns -->
      <div class="row no-hero-mobile">
        <div class="span12">
          <h3>Collection Browse</h3>
          <p>This could be something very useful about browsing, etc.</p>
	</div>
      </div>


	<div class="row" class="span12">
	<div id="cbf_widgets">
	  <div class="span3">
		<h6>Site Creators</h6>
		<div class="results_control"></div>
		<ul>
		<% creator_name_browse_list.each do |item, hits| %>
                  <%= %Q{<li><a href="search?search=true&search_type=find_site&utf8=✓&f[creator_name__facet][]=}.html_safe + item + %Q{">}.html_safe + item + %Q{</a> (<span>#{hits}</span>)</li>}.html_safe %>
                <% end %>
		</ul>
	</div>
	  <div class="span3">
		<h6>Languages</h6>
		<div class="results_control"></div>
		<ul>
		<% language_browse_list.each do |item, hits| %>
                  <%= %Q{<li><a href="search?search=true&search_type=find_site&utf8=✓&f[language__facet][]=}.html_safe + item + %Q{">}.html_safe + item + %Q{</a> (<span>#{hits}</span>)</li>}.html_safe %>
                <% end %>
		</ul>
	  </div>
	  <div class="span3">
		<h6>Subjects</h6>
		<div class="results_control"></div>
		<ul>
		<% subject_browse_list.each do |item, hits| %>
                  <%= %Q{<li><a href="search?search=true&search_type=find_site&utf8=✓&f[subject__facet][]=}.html_safe + item + %Q{">}.html_safe + item + %Q{</a> (<span>#{hits}</span>)</li>}.html_safe %>
                <% end %>
		</ul>
	  </div>
	  <div class="span3">
		<h6>Geographic Focus</h6>
		<div class="results_control"></div>
		<ul>
		<% geographic_focus_browse_list.each do |item, hits| %>
                  <%= %Q{<li><a href="search?search=true&search_type=find_site&utf8=✓&f[geographic_focus__facet][]=}.html_safe + item + %Q{">}.html_safe + item + %Q{</a> (<span>#{hits}</span>)</li>}.html_safe %>
                <% end %>
		</ul>
	  </div>
	  <div class="span3">
		<h6>Organization Type</h6>
		<div class="results_control"></div>
		<ul>
		<% organization_type_browse_list.each do |item, hits| %>
                  <%= %Q{<li><a href="search?search=true&search_type=find_site&utf8=✓&f[organization_type__facet][]=}.html_safe + item + %Q{">}.html_safe + item + %Q{</a> (<span>#{hits}</span>)</li>}.html_safe %>
                <% end %>
		</ul>
	  </div>
	</div>
	</div>

    </div> <!-- /container -->
