    <div class="container no-hero-mobile">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit hero-border">
        <h1>Human Rights Web Archive</h1>
	<h2>@ Columbia University</h2>
	<p class="invisible"><strong>Portal Prototype 2011.12</strong></p>
      </div>

      <!--
      <div class='alert-message'><a href="#" class="close">x</a><p style="font-size:100%;"><strong>Note</strong>: please test in Chrome, Safari, or Firefox &gt;3.6.x. Firefox 3.6.x is buggy at the moment. IE is completely untested.</p></div>
      -->

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h4>About the Archive</h4>
	  <p><strong>Human Rights Web Archive at Columbia University</strong> provides access to snapshots of over 350 web sites in the area of human rights.</p>
	  <p>There are currently over 7 million pages of Web content in 8 languages, and cover a broad range of human rights issues, such as women's rights, genocide, refugees, war crimes, reconciliation, AIDS, civil rights, democracy, gun control, human trafficking, and many others. <a href="<%= about_path %>">Read more&hellip;</a></p>
	<div class="alert alert-link alert-info">
                <%= link_to "&raquo;".html_safe, search_path(:search_type => "find_site"), :class => "goto" %>
	<p><strong>Search:</strong> for Websites</a></p>
	</div>
	<div class="alert alert-link alert-info">
                <%= link_to "&raquo;".html_safe, search_path(:search_type => "archive"), :class => "goto" %>
		<p><strong>Search:</strong> the Web Archive</p>
	</div>
	<div class="alert alert-link alert-success">
		<%= link_to "&raquo;".html_safe, browse_path, :class => "goto" %>
		<p><strong>Browse:</strong> List of Websites</p>
	</div>
        </div>
        <div class="span8">
          <%= render :partial=>'cbf' %>
        </div>
      </div>


    </div> <!-- /container -->
