    <div class="container no-hero-mobile">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit hero-border">
        <h1>Human Rights Web Archive</h1>
	    <h2>@ Columbia University</h2>
	    <p class="invisible"><strong>Portal Prototype 2011.12</strong></p>
      </div>

      <!--
      <div class='alert-message'><a href="#" class="close">x</a><p style="font-size:100%;"><strong>Note</strong>: please test in Chrome, Safari, or Firefox &gt;3.6.x. Firefox 3.6.x is buggy at the moment. IE is completely untested.</p></div>
      -->

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h4 class="inline">HUMAN RIGHTS WEB ARCHIVE at Columbia University</h4>
	      <p class="inline"> provides access to snapshots of over 350 web sites in the area of human rights. <a href="<%= about_path %>">Read more&hellip;</a></p><p></p>
	      <p class="invisible">There are currently over 7 million pages of Web content in 8 languages, and cover a broad range of human rights issues, such as women's rights, genocide, refugees, war crimes, reconciliation, AIDS, civil rights, democracy, gun control, human trafficking, and many others. <a href="<%= about_path %>">Read more&hellip;</a></p>


	      <div class="alert alert-link alert-info">
                <%= link_to "&raquo;".html_safe, search_path(:search_type => "find_site"), :class => "goto floatright" %>
      	        <p><strong>Search:</strong> for Sites</a></p>
      	  </div>
	      <div class="alert alert-link alert-info">
                <%= link_to "&raquo;".html_safe, search_path(:search_type => "archive"), :class => "goto floatright" %>
		        <p><strong>Search:</strong> the Web Archive</p>
	      </div>
	      <div class="alert alert-link alert-success">
		        <%= link_to "&raquo;".html_safe, browse_path, :class => "goto floatright" %>
		        <p><strong>Browse:</strong> List of Websites</p>
	      </div>

          <div class="hero-border ui-corner-all">
          <div id="fpCarousel" class="carousel slide nomar">
            <div class="carousel-inner">
              <div class="item active">
                <img src="/assets/slides/810_25_7056---Monumento-de-Derechos-Humanos-Human-Rights-Monument-Murcia_web.jpg" alt="">
                <div class="carousel-caption">
                  <h4>First Thumbnail label</h4>
                  <p>caption 1</p>
                </div>
              </div>
              <div class="item">
                <img src="/assets/slides/1347847390_e51794cc9a_n.jpg" alt="">
                <div class="carousel-caption">
                  <h4>Second Thumbnail label</h4>
                  <p>caption 2</p>
                </div>
              </div>
              <div class="item">
                <img src="/assets/slides/UN-Human_rights-1952-3c.jpg" alt="">
                <div class="carousel-caption">
                  <h4>Third Thumbnail label</h4>
                  <p>caption 3</p>
                </div>
              </div>
            </div>
            <a class="left carousel-control" href="#fpCarousel" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#fpCarousel" data-slide="next">›</a>
          </div>
          </div>

     </div><!-- /span4 -->

     <div class="span8">
          <%= render :partial=>'cbf' %>
        </div>
     </div>


    </div> <!-- /container -->
