<% @documents.each do |document| %>

<div class="row single_citation">
  <div class="span2">
    <a href="<%= catalog_path({:id => document.get('id'), 'from_search' => false}) %>">
      <img class="thumbnail" alt="<%= document.get('item_title') %>" data-info="<%= document.get('item_title') %>" src="<%= get_image_uri(document, 'recto', 'thumb') %>"/>
    </a>
  </div>
  <div class="span10">
    <h3><%= citation_title(document) %></h3>
    <p>
      <%= get_chicago_citation_for_document(document) %>
    </p>
  </div>
</div>

<% end %>
