<% item_count_id = document_counter + 1 + @response.params[:start].to_i %>

<% performing_a_search = (params[:controller] == 'catalog' && params[:action] == 'index') || (params[:controller] == 'catalog' && params[:action] == 'hrwa_home') %>
<% folder_view = (params[:controller] == 'folder' && params[:action] == 'index') %>
<%
  thumbnail = image_tag(get_image_uri(document, 640), {:'data-info' => document.get('item_title'), :alt => document.get('item_title')})

  doc_text_link_html = link_to_document document, :label=>document_show_link_field, :counter => (document_counter + 1 + @response.params[:start].to_i), :results_view => performing_a_search, :folder_view => folder_view
  doc_button_link_html = link_to_document document, :label=>'Site Details <i class="icon-circle-arrow-right icon-white"></i>'.html_safe, :counter => (document_counter + 1 + @response.params[:start].to_i), :class => 'item-link btn btn-mini btn-primary', :rel => 'tooltip', :'data-original-title' => document.get('item_title'), :results_view => performing_a_search, :folder_view => folder_view
  thumbnail_link_html = link_to_document document, :label=>thumbnail.html_safe, :counter => (document_counter + 1 + @response.params[:start].to_i), :class => 'thumbnail thumb_link', :results_view => performing_a_search, :folder_view => folder_view
%>

<% # container for a single doc -%>


  <li class="span3">
    <% # container for a single doc -%>
    <article id="a_<%= item_count_id %>" class="find-site-result post thumbnail <%= render_document_class document %>">
      <%= thumbnail_link_html %>
      <div class="caption">
        <% # header bar for doc items in index view -%>
        <div class="documentHeader">
            <%# not using bookmark/folder functions-%>
            <%#= render_index_doc_actions document %>
            <% # main title container for doc partial view -%>
            <h5 class="index_title">
              <%#= (item_count_id.to_s + '. ') if (params[:controller] == 'catalog' && params[:action] == 'index') %>
              <%= doc_text_link_html %>
            </h5>
        </div>

        <div class="hl_snippet">
        <%= formatted_highlighted_snippet(document.solr_response[:highlighting][document[:bib_key]], @configurator.prioritized_highlight_field_list) %>
        </div>

        <p>
          <%= doc_button_link_html %>
        </p>
      </div> <!-- /.caption -->

      <%# OpenURL Coins Info (for Zotero compatibility) -%>
      <%= render :partial => 'catalog/openurl_coins_data_for_a_document', :locals => {:document => document} %>
    </article>
  </li>


<!-- REQUEST_TEST_STRING: HRWA::CATALOG::DOCUMENT::RENDER_SUCCESS -->
