    <% # container for a single group -%>
    <div class="document <%= render_document_class group %>">

      <% # header bar for group items in index view -%>
      <div class="documentHeader">

        <% # bookmark/folder functions for items/docs -%>
        <%#= render_index_doc_actions group %>

        <% # main title container for group partial view -%>
        <div class="yui-u">
          <h3 class="index_title">
            <%= group_counter + 1 + @response.params[:start].to_i %>.
           </h3>
          
           <pre><%= group.pretty_inspect.html_safe if params.has_key?( :hrwa_debug ) %></pre><br/>
          
           <% # The top doc for the group will be displayed in full as a hit %>
           <% doc = group[ :doclist ][ :docs ].shift %>
          
           <!-- TITLE LINK DATA -->
           <em>Title:</em> <%= ( ! doc[ :contentTitle ].blank? ) ?
                 doc[ :contentTitle ] :
                 '[Untitled]' %><br/>      
           <em>Title link URL:</em> <%= doc[ :archivedUrl ] %>
           
           <br/>
           
           <!-- ORIGINAL CAPTURE URL FOR THE PAGE -->
           <em>Original capture URL:</em><%= doc[ :originalUrl ] %>
           
           <br/>
           
           <!-- SDF PAGE LINK DATA -->
           <em>Parent site bib_key:</em> <%= doc[ :bib_key ] %>
            
           <br/>
           
           <!-- HIGHLIGHTED SNIPPET -->
           <% snippets = @response[ :highlighting ][ doc[ :recordIdentifier ] ] 
              full_snippets_string = ''
              snippets.each { | field, snippets_for_field |
                full_snippets_string << snippets_for_field.join( '...' ) << '...'                 
              }
              highlighted_snippet_full = full_snippets_string.html_safe           
           %>
           
           <em>Highlighted snippet, complete (all snippets):</em> <%= highlighted_snippet_full %>
                      
           <br/>
           
           <!-- MIMETYPE -->
           <em>File type:</em> <%= doc[ :mimetype ] %>
           
           <br/>
                      
           <!-- SIZE -->
           <em>Size:</em> <%= number_to_human_size( doc[ :length ] ) %>
           
           <br/>                
           
           <!-- CAPTURE DATE FOR THE PAGE -->
           <em>Instance date:</em><%= doc[ :recordDate ].to_time %>
           
           <br/>
                      
           <!-- LINK FOR RE-RUNNING SEARCH AGAINST THIS SITE/DOMAIN ONLY -->
           
           <br/>
                      
           <!-- LINK FOR EXCLUDING DOMAIN OF THIS HIT FROM THE QUERY RESULTS -->
           
           <br/>
                      
           <!-- OTHER CAPTURE INSTANCES -->                

           <br/>
                      
           
        </div>
      </div>

      <% # main container for group partial view -%>
      <%#= render_document_partial group, :index %>

    </div>
