<% item_count_id = group_counter + 1 + @response.params[:start].to_i %>

<% performing_a_search = (params[:controller] == 'catalog' && params[:action] == 'index') || (params[:controller] == 'catalog' && params[:action] == 'hrwa_home') %>
<% folder_view = (params[:controller] == 'folder' && params[:action] == 'index') %>

<% # The top doc for the group will be displayed in full as a hit %>
<% doc = group[ :doclist ][ :docs ].shift %>

  <% # container for a single doc -%>
  <% custom_string_time_format = '%b %-d, %Y at %l:%M%p %Z' %>

  <article id="a_<%= item_count_id %>" class="archive-result <%= render_document_class group %>">
    <dl class="defList document">

        <!-- CAPTURE DATE FOR THE PAGE -->
        <span class="capture_date pull-right mono" rel="tooltip" title="Captured on <%= doc[ :recordDate ].to_time.strftime(custom_string_time_format) %>"><%= doc[ :recordDate ].to_time.strftime(custom_string_time_format) %></span>

        <% # bookmark/folder functions for items/docs -%>
        <%#= render_index_doc_actions group %>

        <% # main title container for group partial view -%>

        <!-- TITLE LINK DATA -->
        <dt><%= link_to((( ! doc[ :title ].blank? ) ? doc[ :title ] : '[Untitled]'), doc[ :archivedUrl ]) %></dt>

        <% # main title container for group partial view -%>
        <dd class="result_url">
            <%= doc[ :originalUrl ] %>
        </dd>

        <%# <dd class="asf hl_snippet invisible"> %>
        <dd class="hl_snippet">
        <%= formatted_highlighted_snippet(@response[ :highlighting ][ doc[ :recordIdentifier ] ], @configurator.prioritized_highlight_field_list) %>
        </dd>

        <dd>
          <div class="file_tech_info">
            <!-- SIZE -->
            <span class="size">Size: <%= number_to_human_size( doc[ :length ] ) %> - </span>
            <!-- MIMETYPE -->
            <span class="file_type">File type: <%= doc[ :mimetype ] %></span>
          </div>

          <!-- OTHER CAPTURE INSTANCES -->
          <% remaining_docs_in_group = group[ :doclist ][ :docs ]
             other_capture_instances = []
             remaining_docs_in_group.each { | doc |
               capture_instance = { :url           => doc[ :archivedUrl ],
                  :instance_date => doc[ :recordDate  ].to_time.strftime(custom_string_time_format),
                  :size          => number_to_human_size( doc[ :length ] )
                }
               other_capture_instances << capture_instance
             }
          %>

          <% if ! other_capture_instances.empty? %>
              <div class="other_capture_instances well">
              <%
              other_instance_date_hits_html = '<strong>Other Relevant Captures</strong><ul class="other_capture_list">'
              other_capture_instances.each { | instance |
            other_instance_date_hits_html <<
             %Q{<li><a href="#{ instance[ :url ] }">#{ instance[ :instance_date ]} (#{ instance[ :size ] })</a></li>}
              }
              other_instance_date_hits_html << '</ul>'
          %>
          <%= other_instance_date_hits_html.html_safe %>
          </div>
          <% end %>

        </dd>

        <%# OpenURL Coins Info (for Zotero compatibility) -%>
        <%#= render :partial => 'catalog/openurl_coins_data_for_a_document', :locals => {:document => doc} %>

    </dl>
  </article>


<!-- REQUEST_TEST_STRING: HRWA::CATALOG::GROUP::RENDER_SUCCESS -->
