    <% # container for a single group -%>
    <div class="document <%= render_document_class group %>">

      <% # header bar for group items in index view -%>
      <div class="documentHeader">

        <% # bookmark/folder functions for items/docs -%>
        <%#= render_index_doc_actions group %>

        <% # main title container for group partial view -%>
        <div class="yui-u">
          <h3 class="index_title">
            <%= group_counter + 1 + @response.params[:start].to_i %>.
           </h3>
          
           <!-- TITLE LINK -->
           <a href="<%= group[ :archivedUrl ] %>">
             <%= ( ! group[ :contentTitle ].blank? ) ?
                 group[ :contentTitle ] :
                 '[Untitled]' %>
           </a>
           
           <br/>
           
           <!-- ORIGINAL CAPTURE URL FOR THE PAGE -->
           <%= group[ :originalUrl ] %>
           
           <br/>
           
           <!-LINK TO SDF PAGE FOR PARENT WEBSITE -->
           <a href="<%= "site_id=#{ group[ :bib_key ] }" %>">(Info)</a>
            
           <br/>
           
           <!-- HIGHLIGHTED SNIPPET -->
           
           <br/>
           
           <!-- MIMETYPE -->
           <%= group[ :mimetype ] %>
           
           <br/>
                      
           <!-- SIZE -->
           <%= group[ :length ] %>
           
           <br/>                
           
           <!-- CAPTURE DATE FOR THE PAGE -->
           <%= group[ :dateOfCaptureYYYYMMDD ] %>
           
           <br/>
                      
           <!-- LINK FOR RE-RUNNING SEARCH AGAINST THIS SITE/DOMAIN ONLY -->
           
           <br/>
                      
           <!-- LINK FOR EXCLUDING DOMAIN OF THIS HIT FROM THE QUERY RESULTS -->
           
           <br/>
                      
           <!-- OTHER CAPTURE INSTANCES -->                
           
           <br/>
                      
           
        </div>
      </div>

      <% # main container for group partial view -%>
      <%#= render_document_partial group, :index %>

    </div>
