    <% # This is just a copy of the FSF partial.  Nothing in here is appropriate (yet!) %>
    <% # container for a single doc -%>
    <div class="document <%= render_document_class document %>">

      <% # header bar for doc items in index view -%>
      <div class="documentHeader">

        <% # bookmark/folder functions for items/docs -%>
        <%= render_index_doc_actions document %>

        <% # main title container for doc partial view -%>
        <div class="yui-u">
          <h3 class="index_title">
            <%= document_counter + 1 + @response.params[:start].to_i %>.
            <%= (link_to document.get("title"), '/site_detail/'+document.get("bib_key")) %>
           </h3>
        </div>
      </div>

      <% # main container for doc partial view -%>
      <%= render_document_partial document, :index %>

    </div>
