<ul data-tabs="tabs" class="nav nav-tabs tabs">
  <li class="active"><a data-toggle="tab" href="#t1"><span class="hidden-phone">Featured</span><span class="visible-phone">Featured</span></a></li>
  <li><a data-toggle="tab" href="#t2">Websites</a></li>
  <li><a data-toggle="tab" href="#t3">URLs</a></li>
  <li><a data-toggle="tab" href="#t4">Subjects</a></li>
  <li><a data-toggle="tab" href="#t5">Places</a></li>
	<li><a data-toggle="tab" href="#t6">Languages</a></li>
</ul>

<div id="home-tab-content" class="tab-content">

  <div class="results_control alignright">

    <div class="tab-description pull-left alignleft span6 nomar"></div>
    <div class="span3 pull-right nomar">
      <a class="sort_default btn btn-small" data-original-title="Sort by Count">#</a> <a class="sort_a-z btn btn-small" data-original-title="Sort by A-Z">A-Z</a> <a class="sort_z-a btn btn-small" data-original-title="Sort by Z-A">Z-A</a>
      <div id="col_control" class="btn-group pull-right">
        <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" data-original-title="Set Columns"><i class="icon-th"></i></a>
        <ul class="dropdown-menu alignleft">
          <li><a class="sort_col sort_col-1">1 column</a></li>
          <li class="active"><a class="sort_col sort_col-2">2 columns</a></li>
          <li><a class="sort_col sort_col-3">3 columns</a></li>
        </ul>
      </div>
      <div id="featured_image_control">
        <div class="btn-group pull-right">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            Featured Subjects
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <% @random_subjects_to_choose_from.each{ |item|
                %><%= '<li'.html_safe + ((@featured_home_page_subject == item) ? ' class="active"' : '').html_safe + '><a href="/?subject='.html_safe + item + '">'.html_safe + item + '</a></li>'.html_safe %><%
            }
            %>
          </ul>
        </div>
        <%= link_to '<i class="icon-refresh"></i>'.html_safe, root_path, :class=>'pull-right btn btn-small', :'data-original-title'=>'Select a Random Subject' %>
      </div>
    </div>

    <div class="clear"></div>
  </div>

	<div id="t1" class="tab-pane active no-count no-cols no-sort yes-featured_image_control" data-description="A selection of sites relating to the subject <strong><%= @featured_home_page_subject %></strong>.">
    <%= render :partial => 'random_home_results' %>
	</div>

	<div id="t2" class="tab-pane no-count" data-description="Browse websites by title.">
		<ul class="zebra cols-two">
      <%= render_browse_list('title__facet', false, true) %>
    </ul>
	</div>

  <div id="t3" class="tab-pane no-count" data-description="Browse websites by URL.">
    <ul class="zebra cols-two">
      <%= render_browse_list('original_urls', false) %>
		</ul>
	</div>
	<div id="t4" class="tab-pane" data-description="Browse websites by subject.">
		<ul class="zebra cols-two">
      <%= render_browse_list('subject__facet') %>
    </ul>
  </div>
	<div id="t5" class="tab-pane" data-description="Browse websites by geographic focus.">
    <ul class="zebra cols-two">
      <%= render_browse_list('geographic_focus__facet') %>
    </ul>
  </div>
	<div id="t6" class="tab-pane" data-description="Browse websites by language.">
    <ul class="zebra cols-two">
      <%= render_browse_list('language__facet') %>
    </ul>
  </div>
</div>
