<%# default partial to display solr document fields in catalog index view -%>

<dl class="defList">
    <dt>
	<%= document.get("title", {:sep => ','}) %>
    </dt>

    <%= document.get('alternate_title').nil? ? '' : '<dd class="result_aka"> Also known as: '.html_safe + document.get('alternate_title', {:sep => ','}) + '</dd>'.html_safe %>

    <dd class="result_url">
      <% #TODO: Find out which url to show in the case of multiple original urls: https://issues.cul.columbia.edu/browse/HRWA-68 %>
      <% #For now, I'm assuming it's just the first one. %>
      <%= document.get("original_urls").is_a?(Array) ? document.get("original_urls")[0] : document.get("original_urls") %>
    </dd>

    <dd class="hl_snippet invisible">
      <%= formatted_highlighted_snippet(document.solr_response[:highlighting][document[:bib_key]], @configurator.prioritized_highlight_field_list) %>
    </dd>

    <dd>
      <div class='toggler invisible'>
	<span class="inner_toggler_wrapper">
	  
	</span>
      </div>
      <a href='#' class='btn small toggle_section moreless'>Show More+</a>

      <span class="site_detail_and_crawl_calendar_link_container">
	<% preview_icon = image_tag asset_path('search.png'), :alt => 'quicklook', :class => 'preview_icon' %>

	<%= link_to 'Site Detail', '/site_detail'+'/'+document.get("bib_key"), :title => 'Site detail permalink for: ' +  document.get("title")%>
	[<%= link_to preview_icon, '/site_detail'+'/'+document.get("bib_key"), :title => 'Site detail permalink for: ' +  document.get("title"), :class => 'quicklook'%>] &bull;

	<% archived_url = document.get('archived_urls').is_a?(Array) ? document.get('archived_urls')[0] : document.get('archived_urls') %>
	<%= link_to 'Crawl Calendar', archived_url, :title => 'Crawl calendar permalink for: ' +  document.get("title") %>
	[<%= link_to preview_icon, archived_url, :title => 'Crawl calendar permalink for: ' +  document.get("title"), :class => 'ccf_quicklook'%>]
      </span>
    </dd>

</dl>
