<%# default partial to display solr document fields in catalog index view -%>

<% # The top doc for the group will be displayed in full as a hit %>
<% doc = group[ :doclist ][ :docs ].shift %>

<% custom_string_time_format = '%b %-d, %Y at %l:%M%p %Z' %>

<dl class="defList document <%= render_document_class group %>">

    <!-- CAPTURE DATE FOR THE PAGE -->
    <span class="capture_date">Captured on <%= doc[ :recordDate ].to_time.strftime(custom_string_time_format) %></span>

    <% # bookmark/folder functions for items/docs -%>
    <%#= render_index_doc_actions group %>

    <% # main title container for group partial view -%>

    <!-- TITLE LINK DATA -->
    <dt>
               <a href="<%= doc[ :archivedUrl ] %>">
               <%= ( ! doc[ :contentTitle ].blank? ) ?
                     doc[ :contentTitle ] :
                     '[Untitled]' %>
               </a>
    </dt>


    <% # main title container for group partial view -%>
    <dd class="result_url">
        <%= doc[ :originalUrl ] %>
    </dd>

    <dd>
	<!-- HIGHLIGHTED SNIPPETS -->
	<% snippets = @response[ :highlighting ][ doc[ :recordIdentifier ] ]
	   highlighted_snippet_full  = formatted_highlighted_snippet( snippets, @configurator.prioritized_highlight_field_list )
	   highlighted_snippet_brief = truncate_html( highlighted_snippet_full,
						      355,
						      %q{&hellip;} ).html_safe
	%>
    </dd>

    <dd class="hl_snippet invisible">
	<%= formatted_highlighted_snippet(@response[ :highlighting ][ doc[ :recordIdentifier ] ], @configurator.prioritized_highlight_field_list) %>
    </dd>

    <dd>
      <div class='toggler invisible'>
          <span class="inner_toggler_wrapper">
               <div class="file_tech_info">
                 <!-- SIZE -->
                 <span class="size">Size: <%= number_to_human_size( doc[ :length ] ) %> - </span>
                 <!-- MIMETYPE -->
                 <span class="file_type">File type: <%= doc[ :mimetype ] %></span>
               </div>
          </span>
      </div>
      <div>

      </div>
      <a href='#' class='btn small toggle_section moreless'>Show More+</a>
      <% domain = doc[ :domain ] ? doc[ :domain ][ 0 ] : nil %>
      <!-- LINK FOR RE-RUNNING SEARCH AGAINST THIS SITE/DOMAIN ONLY -->
      <%= domain ? see_all_hits_from_domain_link( domain, params, {:class => 'btn small blue see_all_hits'}) : '[No link]' %>
      <!-- LINK FOR EXCLUDING DOMAIN OF THIS HIT FROM THE QUERY RESULTS -->
      <%= domain ? exclude_domain_from_hits_link( domain, params, {:class => 'btn small red exclude_from_hits'}) : '[No link]'%>

      <!-- OTHER CAPTURE INSTANCES -->
	<% remaining_docs_in_group = group[ :doclist ][ :docs ]
	   other_capture_instances = []
	   remaining_docs_in_group.each { | doc |
	     capture_instance = { :url           => doc[ :archivedUrl ],
				  :instance_date => doc[ :recordDate  ].to_time.strftime(custom_string_time_format),
				  :size          => number_to_human_size( doc[ :length ] )
				}
	     other_capture_instances << capture_instance
	   }
	%>

	<% if ! other_capture_instances.empty? %>
        <div class="other_capture_instances">
        <%
        other_instance_date_hits_html = '<strong>Other capture instances (sorted by relevance):</strong><ul>'
        other_capture_instances.each { | instance |
		  other_instance_date_hits_html <<
		   %Q{<li><a href="#{ instance[ :url ] }">#{ instance[ :instance_date ]} (#{ instance[ :size ] })</a></li>}
        }
        other_instance_date_hits_html << '</ul>'
		%>
		<%= other_instance_date_hits_html.html_safe %>
		</div>
    <% end %>

    </dd>

</dl>

<% #debug stuff %>
<div style="background: #fee;"><%= "<pre style=\"padding:2px 6px;\"> #{ group.pretty_inspect.html_safe } </pre>".html_safe if params.has_key?( :hrwa_debug ) %></div>
<% #end debug stuff %>
