<%# default partial to display solr document fields in catalog index view -%>

<dl class="defList">
    <dt>
	  <%= document.get('title') %>
    </dt>

    <%= document.get('alternate_title').nil? ? '' : '<dd class="result_aka"> Also known as: '.html_safe + document.get('alternate_title', {:sep => ','}) + '</dd>'.html_safe %>

    <dd class="result_url">
      <% #TODO: Find out which url to show in the case of multiple original urls: https://issues.cul.columbia.edu/browse/HRWA-68 %>
      <% #For now, I'm assuming it's just the first one. %>
      <%= document.get("original_urls").is_a?(Array) ? document.get("original_urls")[0] : document.get("original_urls") %>
    </dd>

    <dd class="hl_snippet invisible">
      <%= formatted_highlighted_snippet(document.solr_response[:highlighting][document[:bib_key]], @configurator.prioritized_highlight_field_list) %>
    </dd>

    <dd>
      <div class='toggler invisible'>
	<span class="inner_toggler_wrapper">
	  <%
	    # Note: We use document.get("name_of_facet_field", {:sep => nil}) when we want to get back the original array for a multivalued field
	  %>

	    <strong>Summary:</strong>
		<%= document.get("summary") %>
		<br />

		<strong>Organization Type:</strong>
		<%= generate_comma_delimited_facet_list(document.get("organization_type"), 'organization_type__facet', document.get("organization_type__facet"), true) %>
		<br />

	    <strong>Languages:</strong>
	    <%= generate_comma_delimited_facet_list(document.get('language',{:sep => nil}), 'language__facet', document.get('language__facet',{:sep => nil}), true) %>
	    <br />

	    <strong>Geographic Focus:</strong>
	    <%= generate_comma_delimited_facet_list(document.get('geographic_focus',{:sep => nil}), 'geographic_focus__facet', document.get('geographic_focus__facet',{:sep => nil}), true) %>
	    <br />

	    <strong>Subjects:</strong>
		<%= generate_comma_delimited_facet_list(document.get('subject',{:sep => nil}), 'subject__facet', document.get('subject__facet',{:sep => nil}), true) %>
		<br />

	</span>
      </div>
      <a href='#' class='btn small toggle_section moreless'>Show More+</a>

      <span class="site_detail_and_crawl_calendar_link_container">
	<% preview_icon = image_tag asset_path('search.png'), :alt => 'quicklook', :class => 'preview_icon' %>

	<%= link_to 'Site Detail', '/site_detail'+'/'+document.get("bib_key"), :title => 'Site detail permalink for: ' +  document.get("title")%>
	[<%= link_to preview_icon, '/site_detail'+'/'+document.get("bib_key"), :title => 'Site detail permalink for: ' +  document.get("title"), :class => 'quicklook'%>] &bull;

	<% archived_url = document.get('archived_urls').is_a?(Array) ? document.get('archived_urls')[0] : document.get('archived_urls') %>
	<%= link_to 'Crawl Calendar', archived_url, :title => 'Crawl calendar permalink for: ' +  document.get("title") %>
	[<%= link_to preview_icon, archived_url, :title => 'Crawl calendar permalink for: ' +  document.get("title"), :class => 'ccf_quicklook'%>]
      </span>
    </dd>

</dl>
