<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div id="hero-search" class="hero-unit hero-border ">
	<% if ! params[:search].nil? %>
	  <%= link_to 'Start a new search', search_path, :class=> 'btn floatright', :id => 'start_new_search_link' %>
	<% end %>
    <h3>Human Rights Web Archive</h3>

    <a href="#" id="advo_link" title="Advanced Options Toggle" rel="twipsy" class="advtoggle btn mono floatright">Adv+</a>

	<script type="text/javascript">
	  HRWA.q = decodeURIComponent("<%= params[:q].blank? ? '' : CGI.escape(params[:q]).gsub('+','%20') %>");
	  HRWA.q_and = decodeURIComponent("<%= params[:q_and].blank? ? '' : CGI.escape(params[:q_and]).gsub('+','%20') %>");
	  HRWA.q_phrase = decodeURIComponent("<%= params[:q_phrase].blank? ? '' : CGI.escape(params[:q_phrase]).gsub('+','%20') %>");
	  HRWA.q_or = decodeURIComponent("<%= params[:q_or].blank? ? '' : CGI.escape(params[:q_or]).gsub('+','%20') %>");
	  HRWA.q_exclude = decodeURIComponent("<%= params[:q_exclude].blank? ? '' : CGI.escape(params[:q_exclude]).gsub('+','%20') %>");
	</script>

    <%= form_tag search_path, :method => :get, :id => 'searchform',
    :'data-searchmode-onload' => (params[:search_mode] == 'advanced' ? 'advanced' : 'simple'),
	:'data-searchtype-onload' => (params[:search_type] == 'archive' ? 'archive' : 'find_site') do %>
      <input type="hidden" name="search" value="true" />

      <div id="inside_of_form">
		<div id="simple_options">
		  <div id="heross">

			<div class="input-append">
			  <%= text_field_tag :q, params[:q], :class => "span12", :placeholder =>'Enter search terms...', :size => '16' %>

			  <%#= search_as_hidden_fields(:omit_keys => [:q, :search_field, :qt, :page]).html_safe %>
			  <span class="submit_button_container">
				<span id="s_type_selector_and_submit">
				  <label class="add-on"><input type="radio" name="search_type" id="fsfsearch" value="find_site"<%= (params[:search_type] != 'archive') ? ' checked="checked"'.html_safe : ''.html_safe; %>/> FSF</label>
				  <label class="add-on"><input type="radio" name="search_type" id="asfsearch" value="archive"<%= (params[:search_type] == 'archive') ? ' checked="checked"'.html_safe : ''.html_safe; %>/> ASF</label>
				  <label class="add-on hidden">
					<a href="#" id="form_submit" class="submitss">Submit</a>
				  </label>
				</span>
			  </span>
			</div>

		  </div><!--/heross-->
		  <%= render 'constraints', :localized_params=>params %>
		</div><!--/simple_options-->
      </div> <!--/inside_of_form-->

    <% end %>

    <div id="outside_of_form" class="invisible">

      <div id="advanced_options_fsf" class="advanced_options">
	<h6>Find Pages/Sites that have&hellip;</h6>
	<div class="input-prepend">
	        <label class="add-on">all these words:</label>
	        <input class="span11 q_and" placeholder="Enter search terms..." name="q_and" size="16" type="text"/> <a title="You can do this in simple search by adding a + (plus sign) to the beginning of the word you require." rel="twipsy" href="#">tip</a>
	</div>
	<div class="input-prepend">
	        <label class="add-on">this exact wording or phrase:</label>
	        <input class="span11 q_phrase" placeholder="Enter search terms..." name="q_phrase" size="16" type="text"/> <a title="You can do this in simple search by &quot;surrounding your phrase with quotes&quot;." rel="twipsy" href="#">tip</a>
	</div>
	<div class="input-prepend">
	        <label class="add-on">one or more of these words:</label>
	        <input class="span11 q_or" placeholder="Enter search terms..." name="q_or" size="16" type="text"/>
	</div>
	<h6>But don't show results that have&hellip;</h6>
	<div class="input-prepend">
	        <label class="add-on">any of these unwanted words:</label>
	        <input class="span11 q_exclude" placeholder="Enter search terms..." name="q_exclude" size="16" type="text"/> <a title="You can do this in simple search by adding a - (minus sign) to the beginning of the word you don't want." rel="twipsy" href="#">tip</a>
	</div>

	<div class="row">
	<div class="span14">
	    <h6>FSF Additional Options</h6>
	<div class="span7 nomar">
		<div class="control-group">
		<label class="control-label">organization type</label>
		<select name="f[organization_type__facet][]" multiple="multiple">
		  <% selected_items = params[:f].nil? ? nil : params[:f][:organization_type__facet] %>
		  <% organization_type_options(:selected => selected_items).each do | key, value | %>
		    <%= '<option value="'.html_safe + key + '"'.html_safe + (value ? ' selected="selected"'.html_safe : ''.html_safe) + '>'.html_safe + key + '</option>'.html_safe %>
		  <% end %>
		</select>
	    </div>
		<div class="control-group">
		<label class="control-label">subject</label>
		<select name="f[subject__facet][]" multiple="multiple">
		  <% selected_items = params[:f].nil? ? nil : params[:f][:subject__facet] %>
		  <% subject_options(:selected => selected_items).each do | key, value | %>
		    <%= '<option value="'.html_safe + key + '"'.html_safe + (value ? ' selected="selected"'.html_safe : ''.html_safe) + '>'.html_safe + key + '</option>'.html_safe %>
		  <% end %>
		</select>
	    </div>
		<div class="control-group">
		<label class="control-label">geographic focus</label>
		  <select name="f[geographic_focus__facet][]" multiple="multiple">
		    <% selected_items = params[:f].nil? ? nil : params[:f][:geographic_focus__facet] %>
		    <% geographic_focus_options(:selected => selected_items).each do | key, value | %>
		      <%= '<option value="'.html_safe + key + '"'.html_safe + (value ? ' selected="selected"'.html_safe : ''.html_safe) + '>'.html_safe + key + '</option>'.html_safe %>
		    <% end %>
		  </select>
	    </div>
		<div class="control-group">
		<label class="control-label">organization based in</label>
		  <select name="f[organization_based_in__facet][]" multiple="multiple">
		    <% selected_items = params[:f].nil? ? nil : params[:f][:organization_based_in__facet] %>
		    <% organization_based_in_options(:selected => selected_items).each do | key, value | %>
		      <%= '<option value="'.html_safe + key + '"'.html_safe + (value ? ' selected="selected"'.html_safe : ''.html_safe) + '>'.html_safe + key + '</option>'.html_safe %>
		    <% end %>
		</select>
	    </div>

	</div>
	<div class="span7 nomar">
		<div class="control-group">
		<label class="control-label">language</label>
		<select name="f[language__facet][]" multiple="multiple">
		  <% selected_items = params[:f].nil? ? nil : params[:f][:language__facet] %>
		  <% language_options(:selected => selected_items).each do | key, value | %>
		    <%= '<option value="'.html_safe + key + '"'.html_safe + (value ? ' selected="selected"'.html_safe : ''.html_safe) + '>'.html_safe + key + '</option>'.html_safe %>
		  <% end %>
		</select>
		<!--Non-displayed facets below here-->
	    </div>
		<div class="control-group">
		<label class="control-label">site title</label>
		<select name="f[title__facet][]" multiple="multiple">
		  <% selected_items = params[:f].nil? ? nil : params[:f][:title__facet] %>
		  <% title_options(:selected => selected_items).each do | key, value | %>
		    <%= '<option value="'.html_safe + key + '"'.html_safe + (value ? ' selected="selected"'.html_safe : ''.html_safe) + '>'.html_safe + key + '</option>'.html_safe %>
		  <% end %>
		</select>
	    </div>
		<div class="control-group">
		<label class="control-label">creator name</label>
		<select name="f[creator_name__facet][]" multiple="multiple">
		  <% selected_items = params[:f].nil? ? nil : params[:f][:creator_name__facet] %>
		  <% creator_name_options(:selected => selected_items).each do | key, value | %>
		    <%= '<option value="'.html_safe + key + '"'.html_safe + (value ? ' selected="selected"'.html_safe : ''.html_safe) + '>'.html_safe + key + '</option>'.html_safe %>
		  <% end %>
		</select>
	    </div>
		<div class="control-group">
		<label class="control-label">original url</label>
		<select name="f[original_urls][]" multiple="multiple">
		  <% selected_items = params[:f].nil? ? nil : params[:f][:original_urls] %>
		  <% original_urls_options(:selected => selected_items).each do | key, value | %>
		    <%= '<option value="'.html_safe + key + '"'.html_safe + (value ? ' selected="selected"'.html_safe : ''.html_safe) + '>'.html_safe + key + '</option>'.html_safe %>
		  <% end %>
		</select>
	    </div>

	</div>
	</div>
	</div>

	<div class="row">
	<div class="span14">
	 <h6>display options</h6>
	 <div class="span7 nomar">
		<div class="control-group">
		<label class="control-label">results per page</label>
		<select class="control-group" name="per_page">
			<option>10</option>
			<option>20</option>
			<option>30</option>
		</select>
	    </div>
	 </div>
	 <div class="span7 nomar">
		<div class="control-group">
		<label class="control-label">sort</label>
		<select class="control-group" name="sort">
		  <option value="score desc">Relevance</option>
		  <option value="title__facet asc">A-Z</option>
		  <option value="title__facet desc">Z-A</option>
		</select>
	    </div>
	 </div>
	</div>
	</div>

	<div class="row">
	<div class="span14">
	 <h6>dev options (temporary)</h6>
	 <div class="span7 nomar">
		<div class="control-group">
		<label class="control-label">host</label>
		<select class="control-group">
		  <option></option>
		</select>
	    </div>
	 </div>
	 <div class="span7 nomar">
		<div class="control-group">
		<label class="control-label">core</label>
		<select class="control-group">
		  <option></option>
		</select>
	    </div>
	 </div>
	</div>
	</div>

	<div class="clearfix"></div>

	<div class="row">
	  <div class="span14 alignright submit_button_container">
	      <!-- Submit button goes here -->
	  </div>
	</div>

      </div> <!-- //advanced_options_fsf -->





      <div id="advanced_options_asf" class="advanced_options">
	<h6>Find Pages/Sites that have&hellip;</h6>
	<div class="input-prepend">
	        <label class="add-on">all these words:</label>
	        <input class="span11 q_and" placeholder="Enter search terms..." name="q_and" size="16" type="text"/> <a title="You can do this in simple search by adding a + (plus sign) to the beginning of the word you require." rel="twipsy" href="#">tip</a>
	</div>
	<div class="input-prepend">
	        <label class="add-on">this exact wording or phrase:</label>
	        <input class="span11 q_phrase" placeholder="Enter search terms..." name="q_phrase" size="16" type="text"/> <a title="You can do this in simple search by &quot;surrounding your phrase with quotes&quot;." rel="twipsy" href="#">tip</a>
	</div>
	<div class="input-prepend">
	        <label class="add-on">one or more of these words:</label>
	        <input class="span11 q_or" placeholder="Enter search terms..." name="q_or" size="16" type="text"/>
	</div>
	<h6>But don't show results that have&hellip;</h6>
	<div class="input-prepend">
	        <label class="add-on">any of these unwanted words:</label>
	        <input class="span11 q_exclude" placeholder="Enter search terms..." name="q_exclude" size="16" type="text"/> <a title="You can do this in simple search by adding a - (minus sign) to the beginning of the word you don't want." rel="twipsy" href="#">tip</a>
	</div>

	<div class="row">
	<div class="span14">
	    <h6>ASF Additional Options</h6>
	<div class="span7 nomar">
		<div class="control-group">
		<label class="control-label">organization type</label>
		<select name="f[organization_type__facet][]" multiple="multiple">
		  <% selected_items = params[:f].nil? ? nil : params[:f][:organization_type__facet] %>
		  <% organization_type_options(:selected => selected_items).each do | key, value | %>
		    <%= '<option value="'.html_safe + key + '"'.html_safe + (value ? ' selected="selected"'.html_safe : ''.html_safe) + '>'.html_safe + key + '</option>'.html_safe %>
		  <% end %>
		</select>
	    </div>
	    <div class="control-group">
	      <label class="control-label">geographic focus</label>
	      <select name="f[geographic_focus__facet][]" multiple="multiple">
		<% selected_items = params[:f].nil? ? nil : params[:f][:geographic_focus__facet] %>
		<% geographic_focus_options(:selected => selected_items).each do | key, value | %>
		  <%= '<option value="'.html_safe + key + '"'.html_safe + (value ? ' selected="selected"'.html_safe : ''.html_safe) + '>'.html_safe + key + '</option>'.html_safe %>
		<% end %>
	      </select>
	    </div>
		<div class="control-group">
		<label class="control-label">organization based in</label>
		  <select name="f[organization_based_in__facet][]" multiple="multiple">
		    <% selected_items = params[:f].nil? ? nil : params[:f][:organization_based_in__facet] %>
		    <% organization_based_in_options(:selected => selected_items).each do | key, value | %>
		      <%= '<option value="'.html_safe + key + '"'.html_safe + (value ? ' selected="selected"'.html_safe : ''.html_safe) + '>'.html_safe + key + '</option>'.html_safe %>
		    <% end %>
		</select>
	    </div>
		<div class="control-group">
		<label class="control-label">file type</label>
		<select class="control-group" name="f[mimetype][]" multiple="multiple">
		  <%# selected_items = params[:f].nil? ? nil : params[:f][:mimetype] %>
		  <%# file_type_options(:selected => selected_items).each do | key, value | %>
		    <%#= '<option value="'.html_safe + key + '"'.html_safe + (value ? ' selected="selected"'.html_safe : ''.html_safe) + '>'.html_safe + key + '</option>'.html_safe %>
		  <%# end %>
		</select>
	    </div>
	</div>
	<div class="span7 nomar">
		<div class="control-group">
		<label class="control-label">site language</label>
		<select name="f[language__facet][]" multiple="multiple">
		  <% selected_items = params[:f].nil? ? nil : params[:f][:language__facet] %>
		  <% language_options(:selected => selected_items).each do | key, value | %>
		    <%= '<option value="'.html_safe + key + '"'.html_safe + (value ? ' selected="selected"'.html_safe : ''.html_safe) + '>'.html_safe + key + '</option>'.html_safe %>
		  <% end %>
		</select>
		<!--Non-displayed facets below here-->
	    </div>

		<div class="control-group">
		<label class="control-label">creator name</label>
		<select name="f[creator_name__facet][]" multiple="multiple">
		  <% selected_items = params[:f].nil? ? nil : params[:f][:creator_name__facet] %>
		  <% creator_name_options(:selected => selected_items).each do | key, value | %>
		    <%= '<option value="'.html_safe + key + '"'.html_safe + (value ? ' selected="selected"'.html_safe : ''.html_safe) + '>'.html_safe + key + '</option>'.html_safe %>
		  <% end %>
		</select>
	    </div>

	    <div class="control-group">
	      <label class="control-label">domain</label>
	      <select class="control-group" name="f[domain][]" multiple="multiple">
		<% selected_items = params[:f].nil? ? nil : params[:f][:domain] %>
		<% domain_options(:selected => selected_items).each do | key, value | %>
		  <%= '<option value="'.html_safe + key + '"'.html_safe + (value ? ' selected="selected"'.html_safe : ''.html_safe) + '>'.html_safe + key + '</option>'.html_safe %>
		<% end %>
	      </select>
	    </div>
	    <div id="search_date_range" class="control-group">
	      <label class="control-label">date of capture</label>
	      <% capture_start_date_value = params[ :capture_start_date ].nil? ? '' : params[ :capture_start_date ]
		 capture_end_date_value   = params[ :capture_end_date ].nil?   ? '' : params[ :capture_end_date   ] %>
	      <input id="capture_start_date" class="span2 datepicker" type="text" name="capture_start_date" value="<%= capture_start_date_value %>" /> - <input id="capture_end_date" class="span2 datepicker" type="text" name="capture_end_date" value="<%= capture_end_date_value %>" />
	    </div>
	</div>
	</div>
	</div>

	<div class="row">
	<div class="span14">
	 <h6>display options</h6>
	 <div class="span7 nomar">
		<div class="control-group">
		<label class="control-label">results per page</label>
		<select class="control-group" name="per_page">
			<option>10</option>
			<option>20</option>
			<option>30</option>
		</select>
	    </div>
	 </div>
	 <div class="span7 nomar">
		<div class="control-group">
		<label class="control-label">sort</label>
		<select class="control-group" name="sort">
		  <option value="score desc">Relevance</option>
		</select>
	    </div>
	 </div>
	</div>
	</div>

	<div class="row">
	<div class="span14">
	 <h6>dev options (temporary)</h6>
	 <div class="span7 nomar">
		<div class="control-group">
		<label class="control-label">host</label>
		<select class="control-group">
		  <option></option>
		</select>
	    </div>
	 </div>
	 <div class="span7 nomar">
		<div class="control-group">
		<label class="control-label">core</label>
		<select class="control-group">
		  <option></option>
		</select>
	    </div>
	 </div>
	</div>
	</div>

	<div class="clearfix"></div>

	<div class="row">
	  <div class="span14 alignright submit_button_container">
	      <!-- Submit button goes here -->
	  </div>
	</div>

      </div> <!-- //advanced_options_asf -->

    </div>

  </div>


</div>
