<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div id="hero-search" class="hero-unit hero-border ">
    <h6>Human Rights Web Archive : search</h6>

    <%= form_tag search_path, :method => :get, :id => 'searchform' do %>

      <% q_text = params[ :q ] %>
      <%
	if params[ :search_mode ] == "advanced"
	   then q_text = "[Click + to refine search]"
	end
      %>

      <div class="input-append">
	<%= text_field_tag :q, q_text, :class => "span12", :placeholder =>'Enter search terms...', :id => 'q', :name => 'q', :size => '16' %>

	<%#= search_as_hidden_fields(:omit_keys => [:q, :search_field, :qt, :page]).html_safe %>

	<label class="add-on"><input type="radio" name="search_type" id="fsfsearch" value="find_site"<%= (params[:search_type] != 'archive') ? ' checked="checked"' : ''; %>> FSF</label>
	<label class="add-on"><input type="radio" name="search_type" id="asfsearch" value="archive"<%= (params[:search_type] == 'archive') ? ' checked="checked"' : ''; %>> ASF</label>
	<label id="advo" class="add-on hidden"><a href="#" title="Advanced Options Toggle" rel="twipsy" class="advtoggle moreless lime mono">+</a></label>

	<label class="add-on hidden"><a href="#" class="submitss">Submit</a></label>

	<%= submit_tag 'Submit', :class=>'submits' %>

      </div>
    <% end %>

    <div id="advanced_options" class=""></div> <!-- //advanced_search -->

  </div>


</div>
