<%
    archived_url = params[:archived_url]

    rss_link = 'http://wayback.archive-it.org/1068/xmlquery?q=type:' + url_encode('urlquery requestexactscheme:yes url:' + archived_url + ' startdate:19960101000000&count=100000&start_page=1');

    require 'rss/1.0'
    require 'rss/2.0'
    require 'open-uri'

    # source = url or local file
    source = rss_link
    content = "" # raw content of rss feed will be loaded here
    open(source) do |s| content = s.read end
    rss = RSS::Parser.parse(content, false)
%>

<div class="container">
    <div class="row">
        <div id="primary" class="span12">
            <p class='floatright'>
                <%= link_to 'Return to results', params[:return_to] unless params[:return_to].blank? %>
            </p>
            <h3>Website Captures</h3>

            <p>Capture Results for: <strong><%= archived_url %></strong></p>
            <div id='crawl_calendar'>

                <% rss.items.each do |item| %>

                    <div class='cc_box'>
                        <div class='cc_cal'>
                            <a href='<%= item.link %>'>
                                <span class='cc_day'>13</span>
                                <span class='cc_month_year'>Aug. <span class='year'>2008</span> <span class='red' title='updated'>*</span></span>
                            </a>
                        </div>
                        <div class='cc_desc'><%= archived_url %></div>
                        <%= item.title %>
                    </div>

                <% end %>

            </div>
        </div>
</div>
