<div class="container">

  <%= render :partial=>'search_form' %>

  <% unless has_search_parameters? %>
    <%# if there are no input/search related params, display the "search_home" partial -%>
    <%= render :partial=>'search_home' %>

  <% else %>

    <div class="row">
      <div id="primary" class="span12">
	    <div class="pageEntriesInfo">
    	  <%= render_pagination_info @response, :entry_name=>'result' %><% if( !params[ :q ].blank? ) %> <span id="qtime_ms">(<%= number_with_precision(@response['responseHeader']['QTime'].to_f/1000, :precision => 3) %> seconds)</span> for: <span id="q_echo" class="big lime strong"><%= q_text = params[ :q ] %></span><% end %>
    	</div>
    	<%= render 'results_pagination' %>
    	<%#= render 'sort_and_per_page' %>

        <div class="clear"></div>

        <%= render :partial => 'result_list' %>

        <%= render 'results_pagination' %>

      </div><!--/primary-->

      <div id="secondary" class="span4">
	<% sidebar_items << capture do %>
	  <%= render :partial=>'facets' %>
	<% end %>
	<%= sidebar_items.join('').html_safe %>
      </div>
    </div>


  <% end %>

</div>

<!-- TODO: TAKE THIS OUT OF PROD -->
<% if Rails.env == "development" %>
  <% #Only show the box with a border if the hrwa_debug param value == "true" %>
  <% if params[:hrwa_debug] == "true" %>
    <div id="debug" name="debug" style="background-color: white; padding: 10px; border: 1px solid red; margin: 30px;">
      <%= @debug %>
    </div>
  <% end %>
<% end %>

<noscript>REQUEST_TEST_STRING: HRWA::CATALOG::INDEXx::RENDER_SUCCESS</noscript>
