<div class="container">

<div class="container" id="inner-headline-outer">
 <div class="row">
  <div class="span9">
  <div id="inner-headline">
   <h1>HUMAN RIGHTS WEB ARCHIVE</h1>
   <h3>@ Columbia University</h3>
  </div>
  </div>
  <div class="span3">
    <img class="" src="http://zapata.cul.columbia.edu/mkimg/220-80-222222-ffffff" alt="">
  </div>
 </div>
</div>

  <%= render :partial=>'search_form' %>

  <% unless has_search_parameters? %>
    <%# if there are no input/search related params, display the "search_home" partial -%>
    <%= render :partial=>'search_home' %>

  <% else %>

    <div class="row">
      <div id="primary" class="span9">
	    <div class="pageEntriesInfo">
    	  <%= render_pagination_info @response, :entry_name=>'result' %><% if( !params[ :q ].blank? ) %> <span id="qtime_ms">(<%= number_with_precision(@response['responseHeader']['QTime'].to_f/1000, :precision => 3) %> seconds)</span> for: <span id="q_echo" class="big lime strong"><%= q_text = params[ :q ] %></span><% end %>
    	</div>

<div class="">
<%= render 'constraints', :localized_params=>params %>
        <div class="clear"></div>
</div>

    	<%= render 'results_pagination' %>

        <div class="clear"></div>

        <%= render :partial => 'result_list' %>

        <%= render 'results_pagination' %>

      </div><!--/primary-->

      <div id="secondary" class="span3">
	<% sidebar_items << capture do %>
	  <%= render :partial=>'facets' %>
	<% end %>
	<%= sidebar_items.join('').html_safe %>
      </div>
    </div>


  <% end %>

</div>

<!-- TODO: TAKE THIS OUT OF PROD -->
<% if Rails.env == "development" %>
  <% #Only show the box with a border if the hrwa_debug param value == "true" %>
  <% if params[:hrwa_debug] == "true" %>
    <div id="debug" name="debug" style="background-color: white; padding: 10px; border: 1px solid red; margin: 30px;">
      <%= @debug %>
    </div>
  <% end %>
<% end %>

<noscript>REQUEST_TEST_STRING: HRWA::CATALOG::INDEXx::RENDER_SUCCESS</noscript>
