<% unless has_search_parameters? %>

	<%# if there are no input/search related params, display the "home" partial -%>
	<%= render 'search_home' %>

<% else %>

  <% @page_title = application_name + " Search Results" %>
  <% extra_head_content << render_opensearch_response_metadata.html_safe %>

  <%# Script below used for custom date range in sidebar %>
  <script type="text/javascript">
	HRWA.current_url_without_capture_date_params = decodeURIComponent("<%= CGI.escape(url_for_without_capture_date_params).gsub('+','%20') %>");
	HRWA.capture_start_date_value = '<%= params[ :capture_start_date ].nil?  ? '' : params[ :capture_start_date ] %>';
	HRWA.capture_end_date_value = '<%= params[ :capture_end_date ].nil?  ? '' : params[ :capture_end_date ] %>';
  </script>

<%#  <div id="primary_container" class="container no-hero-mobile"> %>
    <div class="row">

      <div id="primary" class="span9">

<% if(@configurator.name == 'archive') %>
<ul data-tabs="tabs" class="nav nav-tabs tabs">
  <li class="active"><a data-toggle="tab" href="#hrwa" class="strong">HRWA Results</a></li>
  <li><a data-toggle="tab" href="#extended"><span class="darkblue strong">Search Other Sources <sup class="red">trial feature</sup></span></a></li>
</ul>
<% end %>

<% if(@configurator.name == 'archive') %>
<div id="results-tab-content" class="tab-content" style="padding-top:1em;">
<div id="hrwa" class="tab-pane active" style="border:0;">
<% end %>

        <div class="pageEntriesInfo">
          <%#= render_pagination_info @response, :entry_name=>'item' %>
				<% if(@search_type.to_s == 'archive') %>
					<%= render_archive_pagination_info @response, :entry_name=>'archived web page result' %>
				<% else %>
					<%= render_pagination_info @response, :entry_name=>'site' %>
				<% end %>

            <%#=link_to 'Start Over', catalog_index_path, :class=>'btn btn-mini pull-right' %>
            <span id="qtime_ms"> (<%= number_with_precision(@response['responseHeader']['QTime'].to_f/1000, :precision => 3) %> seconds)</span>

            <form id="edit_query_form">
              <div class="pull-right">
                <button id="edit_query_confirm" class="btn btn-mini pull-right" data-original-title="Update your search query" type="submit"><i class="icon-ok"></i></button>
                <button id="edit_query_cancel" class="btn btn-mini pull-right" ><i class="icon-remove"></i></button>
              </div>
              <div id="edit_query_input_wrapper">
                <%= text_field_tag :q, params[:q], :class => '', :placeholder => 'Add some search terms to your current search&hellip;'.html_safe, :id => 'edit_query_input' %>
              </div>

              <%= search_as_hidden_fields(:omit_keys => [:q, :search_field, :qt, :page]).html_safe %>
            </form>

            <span id="echo_query">
              <%= ((params[:q] && params[:q] != '') ? 'for: <span id="search_query_echo" class="green strong">'.html_safe + params[:q] + '</span>'.html_safe : ''.html_safe) + '<a href="#" id="query_inline_edit_button" class="btn btn-mini" rel="tooltip" data-original-title="Modify your current search query"><i class="icon-pencil"></i></a>'.html_safe %>
            </span>

        </div>

				<% if @expanded_search_terms_found %>
					<% if @search_expansion_is_on %>
						<div class="alert alert-info expanded-search-terms-info">
							<div class="btn-group pull-right">
								<%= link_to 'Expansion Off', url_for_with_search_expansion_off, :class => 'btn btn-mini' %>
								<%= link_to 'Expansion On', '#', :class => 'btn btn-mini btn-primary white active' %>
							</div>
							<strong>Your search has been expanded to include the following terms:</strong><br />
							<%= get_expanded_search_term_relationship_html(@expanded_search_terms) %>
						</div>
					<% else %>
						<div class="alert expanded-search-terms-found">
							<div class="btn-group pull-right">
								<%= link_to 'Expansion Off', '#', :class => 'btn btn-mini btn-primary white active' %>
								<%= link_to 'Expansion On', url_for_with_search_expansion_on, :class => 'btn btn-mini' %>
							</div>
							Expanded search terms were found for this query!
						</div>
					<% end %>
				<% end %>

        <div class="row" id="search_constraints">
          <div class="span9">
            <%= render 'constraints', :localized_params=>params %>
          </div>
        </div><!--/row-->
        <div class="row">
          <div class="span5 nomar pull-left-important">
            <%= render 'results_pagination' %>
          </div>
          <div class="span4 pull-right-important">
            <%= render 'sort_and_per_page' %>
          </div>
        </div>
        <div id="search_results">
          <%= render :partial => 'result_list' %>
        </div>
        <div class="row">
          <%= render 'results_pagination' %>
        </div>
<% if(@configurator.name == 'archive') %>
</div><!-- tab-pane -->
<div id="extended" class="tab-pane" style="border:0;">
<div class="pageEntriesInfo">
<p>You just searched in HRWA for: <%= ((params[:q] && params[:q] != '') ? ' <span id="search_query_echo" class="green">'.html_safe + params[:q] + '</span>'.html_safe : ''.html_safe) %></p>
Click any of the links below to perform the same search in a related human-rights oriented database.
</div>
        <div id="search_results">
<article class="archive-result">
<dl class="defList document">
<dt><a class="pull-right btn btn-link btn-large" rel="tooltip" title="Search for <%= params[:q] %> at Archive-It" data-exitmsg="You are now leaving the Human Rights Web Archive" data-target="new" href="http://www.archive-it.org/explore?q=<%= params[:q] %>&amp;page=1&amp;show=Collections"><i class="icon-circle-arrow-right"></i></a><a data-exitmsg="You are now leaving the Human Rights Web Archive" data-target="new" href="http://www.archive-it.org/explore?q=<%= params[:q] %>&amp;page=1&amp;show=Collections">Archive-It</a></dt>
<dd>http://www.archive-it.org/explore?show=Collections</dd>
</dl>
</article>
<article class="archive-result">
<dl class="defList document">
<dt><a class="pull-right btn btn-link btn-large" rel="tooltip" title="Search for <%= params[:q] %> at HuriSearch" data-exitmsg="You are now leaving the Human Rights Web Archive" data-target="new" href="http://www.hurisearch.org/?q=<%= params[:q] %>&amp;ql=&amp;ngo=1&amp;nhri=1&amp;academic=1&amp;igo=1"><i class="icon-circle-arrow-right"></i></a></li><a data-exitmsg="You are now leaving the Human Rights Web Archive" data-target="new" href="http://www.hurisearch.org/?q=<%= params[:q] %>&amp;ql=&amp;ngo=1&amp;nhri=1&amp;academic=1&amp;igo=1">HuriSearch</a></dt>
<dd>http://www.hurisearch.org/</dd>
</dl>
</article>
<article class="archive-result">
<dl class="defList document">
<dt><a class="pull-right btn btn-link btn-large" rel="tooltip" title="Search for <%= params[:q] %> at ArchiveGrid" data-exitmsg="You are now leaving the Human Rights Web Archive" data-target="new" href="http://beta.worldcat.org/archivegrid/?p=1&amp;q=<%= params[:q] %>"><i class="icon-circle-arrow-right"></i></a></li><a data-exitmsg="You are now leaving the Human Rights Web Archive" data-target="new" href="http://beta.worldcat.org/archivegrid/?p=1&amp;q=<%= params[:q] %>">ArchiveGrid</a></dt>
<dd>http://beta.worldcat.org/archivegrid/</dd>
</dl>
</article>
<article class="archive-result">
<dl class="defList document">
<dt><a class="pull-right btn btn-link btn-large" rel="tooltip" title="Search for <%= params[:q] %> at ProQuest Social Sciences Databases" data-exitmsg="You are now leaving the Human Rights Web Archive" data-target="new" href="http://search.proquest.com/socialsciences/advanced?accountid=10226"><i class="icon-circle-arrow-right"></i></a></li><a data-exitmsg="You are now leaving the Human Rights Web Archive" data-target="new" href="http://search.proquest.com/socialsciences/advanced?accountid=10226">ProQuest Social Sciences Databases</a> <a href="#" rel="tooltip" title="Columbia Restricted"><i class="icon-lock"></i></a></dt>
<dd>http://search.proquest.com/socialsciences/advanced?accountid=10226</dd>
</dl>
</article>
<article class="archive-result">
<dl class="defList document">
<dt><a class="pull-right btn btn-link btn-large" rel="tooltip" title="Search for <%= params[:q] %> at OHCHR" data-exitmsg="You are now leaving the Human Rights Web Archive" data-target="new" href="http://search.ohchr.org/search?site=default_collection&amp;client=default_frontend&amp;output=xml_no_dtd&amp;ie=UTF-8&amp;oe=UTF-8&amp;Entqr=0&amp;ud=1&amp;sort=date%3AD%3AL%3Ad1&amp;proxystylesheet=en_frontend&amp;q=<%= params[:q] %>"><i class="icon-circle-arrow-right"></i></a></li><a data-exitmsg="You are now leaving the Human Rights Web Archive" data-target="new" href="http://search.ohchr.org/search?site=default_collection&amp;client=default_frontend&amp;output=xml_no_dtd&amp;ie=UTF-8&amp;oe=UTF-8&amp;Entqr=0&amp;ud=1&amp;sort=date%3AD%3AL%3Ad1&amp;proxystylesheet=en_frontend&amp;q=<%= params[:q] %>">Office of the High Commissioner for Human Rights, United Nations</a></dt>
<dd>http://ohchr.org/</dd>
</dl>
</article>
<article class="archive-result">
<dl class="defList document">
<dt><a class="pull-right btn btn-link btn-large" rel="tooltip" title="Search for <%= params[:q] %> at UHRI" data-exitmsg="You are now leaving the Human Rights Web Archive" data-target="new" href="http://uhri.ohchr.org/search/results?keyword=<%= params[:q] %>&amp;searchoperatortype=And&amp;bodytypes=00000000-0000-0000-0000-000000000000&amp;BodyFilter=00000000-0000-0000-0000-000000000000&amp;AnnotationTypeFilter=00000000-0000-0000-0000-000000000000&amp;CountryFilter=00000000-0000-0000-0000-000000000000&amp;resultsOrder=Relevance"><i class="icon-circle-arrow-right"></i></a></li><a data-exitmsg="You are now leaving the Human Rights Web Archive" data-target="new" href="http://uhri.ohchr.org/search/results?keyword=<%= params[:q] %>&amp;searchoperatortype=And&amp;bodytypes=00000000-0000-0000-0000-000000000000&amp;BodyFilter=00000000-0000-0000-0000-000000000000&amp;AnnotationTypeFilter=00000000-0000-0000-0000-000000000000&amp;CountryFilter=00000000-0000-0000-0000-000000000000&amp;resultsOrder=Relevance">Universal Human Rights Index, maintained by the OHCHR</a></dt>
<dd>http://uhri.ohchr.org/</dd>
</dl>
</article>
        </div><!--search_results-->
</div><!-- tab-pane -->
</div><!-- tab-content -->
<% end %>
      </div><!--/#primary-->

      <div id="secondary" class="span3">
        <div id="facets" class="<%= @search_type %> facets">
          <% sidebar_items << capture do %>
            <%= render :partial=>'facets' %>
          <% end %>
          <%= sidebar_items.join('').html_safe %>
        </div>
      </div>

    </div><!--/.row-->
<%#  </div><!--/#primary_container--> %>

<% end %>
