<% @page_title = "#{document_show_html_title} - #{application_name}" %>
<% extra_head_content << render_link_rel_alternates %>
<% sidebar_items << render_document_sidebar_partial %>
<% results_view = session[:search][:results_view].nil? ? (params[:results_view].nil? ? false : params[:results_view]) : session[:search][:results_view] %>
<% folder_view =  params[:folder_view].nil? ? false : (params[:folder_view] == 'true' ? true : false) %>

  <div id="primary_container" class="container no-hero-mobile">
    <div class="row">

      <div id="primary" class="span8">

        <%# Note from Blacklight people: this should be in a partial -%>
        <%# Hrwa note: Keeping code below in this file to better-maintain blacklight upgrade ability. Will move this to a partial when Blacklight does. %>
        <div id="document" class="<%= render_document_class %>">
          <div id="doc_<%= @document.id.to_s.parameterize %>" data-toggle="modal-gallery" data-target="#modal-gallery">
            <%= item_page_entry_info if results_view && ! folder_view %>
            <%= render_document_heading.html_safe %>
            <div id="item_level_back_prev_next_select_wrapper">
              <% if ! folder_view %>
                <%= link_back_to_catalog(:label=>'<i class="icon-backward"></i>'.html_safe, :link_to_opts => {:rel => 'tooltip', :title => 'Back to Search Results', :class => 'btn btn-mini'}) if results_view %>
                <%= render 'previous_next_doc' if results_view %>
              <% else %>
                <%= link_to('<i class="icon-backward"></i>'.html_safe, folder_index_path, {:rel => 'tooltip', :title => 'Back to Selected Items', :class => 'btn btn-mini'}) %>
              <% end %>

              <% # bookmark/folder functions -%>
              <%= render_show_doc_actions @document %>

              <div class="clear"></div>
            </div>

            <div class="thumbnail"><img src="<%= get_image_uri(@document, 'recto', 'medium') %>" alt="<%= @document.get('item_title') %>" /></div>

            <div id="show_image_download_btns">
              <div id="download_front_image_button_group" class="btn-group">
                <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="icon-download"></i>
                  <% if @document.get('verso_image_s').blank? %>
                    Download Image
                  <% else %>
                  Download Front Image
                  <% end %>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="<%= get_image_uri(@document, 'recto', 'thumb', 'download') %>" alt="<%= @document.get('item_title') %>"><i class="icon-download"></i> Small (200px)</a></li>
                  <li><a href="<%= get_image_uri(@document, 'recto', 'medium', 'download') %>" alt="<%= @document.get('item_title') %>"><i class="icon-download"></i> Medium (850px)</a></li>
                  <li><a href="<%= get_image_uri(@document, 'recto', 'large', 'download') %>" alt="<%= @document.get('item_title') %>"><i class="icon-download"></i> Large (1500px)</a></li>
                </ul>
              </div>
              <% unless @document.get('verso_image_s').blank? %>
              <div id="download_back_image_button_group" class="btn-group">
                <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="icon-download"></i>
                  Download Back Image
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="<%= get_image_uri(@document, 'verso', 'thumb', 'download') %>" alt="<%= @document.get('item_title') %>"><i class="icon-download"></i> Small (200px)</a></li>
                  <li><a href="<%= get_image_uri(@document, 'verso', 'medium', 'download') %>" alt="<%= @document.get('item_title') %>"><i class="icon-download"></i> Medium (850px)</a></li>
                  <li><a href="<%= get_image_uri(@document, 'verso', 'large', 'download') %>" alt="<%= @document.get('item_title') %>"><i class="icon-download"></i> Large (1500px)</a></li>
                </ul>
              </div>
              <% end %>
              <div class="btn-group view_full_size_image_btn_wrapper">
                <a id="view_full_size_image_btn" class="btn btn-mini target-blank" href="<%= get_image_uri(@document, 'recto', 'large') %>" alt="<%= @document.get('item_title') %>"><i class="icon-picture"></i> View Full-Size Front</a>
              </div>
              <% unless @document.get('verso_image_s').blank? %>
              <div class="btn-group view_full_size_image_btn_wrapper">
                <a id="view_full_size_image_btn" class="btn btn-mini target-blank" href="<%= get_image_uri(@document, 'verso', 'large') %>" alt="<%= @document.get('item_title') %>"><i class="icon-picture"></i> View Full-Size Back</a>
              </div>
              <% end %>

              <!-- <a id="view_full_size_image_btn" class="btn btn-mini" href="<%= get_image_uri(@document, 'recto', 'large') %>" alt="<%= @document.get('item_title') %>"><i class="icon-picture"></i> View Full Size Image</a> -->
              <!--
              <a href="<%= get_image_uri(@document, 'recto', 'large') %>" rel="gallery" class="hidden-phone btn btn-mini current_image_link" title="<%=  @document.get('item_title') %>" <% if( ! @document.get('verso_image_s').blank? ) %>data-flipside="<%= get_image_uri(@document, 'verso', 'medium') %><% end%>">
                <i class="icon-zoom-in"></i>
              </a>
              -->
            </div>

          </div>
        </div><!--/#document-->

      </div><!--/#primary-->

      <div id="secondary" class="span4">
        <div class="document">

          <h6 id="show_item_information_title">Item Information</h6>

          <div class="row">
            <div class="span2 pull-left">
              <a class="thumbnail thumbnail-active sb_thumb" href="<%= get_image_uri(@document, 'recto', 'large') %>" />
                <img src="<%= get_image_uri(@document, 'recto', 'thumb') %>" alt="<%= @document.get('item_title') %>" />
              </a>
            </div>
            <div class="span2 pull-right nomar">
              <% unless @document.get('verso_image_s').blank? %>
              <a class="thumbnail sb_thumb" href="<%= get_image_uri(@document, 'verso', 'large') %>" />
                <img src="<%= get_image_uri(@document, 'verso', 'thumb') %>" alt="<%= @document.get('item_title') %>" />
              </a>
              <% end %>
            </div>
          </div> <!-- /row -->

          <%= render_document_partial @document, :show %>

        </div>
        <div class="tools"><%= render :partial => 'show_tools' %></div>
      </div><!--/#secondary-->

    </div><!--/.row-->
  </div><!--/#primary_container-->

  <%# OpenURL Coins Info (for Zotero compatibility) -%>
  <%= render :partial => 'catalog/openurl_coins_data_for_a_document', :locals => {:document => @document} %>
