<% @page_title = "#{document_show_html_title} - #{application_name}" %>
<% extra_head_content << render_link_rel_alternates %>
<% sidebar_items << render_document_sidebar_partial %>
<% results_view = session[:search][:results_view].nil? ? (params[:results_view].nil? ? false : params[:results_view]) : session[:search][:results_view] %>
<% folder_view =  params[:folder_view].nil? ? false : (params[:folder_view] == 'true' ? true : false) %>

  <div id="primary_container" class="container no-hero-mobile">
    <div class="row">

      <div id="primary" class="span8">

        <%# Note from Blacklight people: this should be in a partial -%>
        <%# Hrwa note: Keeping code below in this file to better-maintain blacklight upgrade ability. Will move this to a partial when Blacklight does. %>
        <div id="document" class="<%= render_document_class %>">

          <%= item_page_entry_info if results_view && ! folder_view %>

          <h3 id="show_fsf_record_title"><%= @document.get('title') %></h3>

          <div class="clearfix"></div>

          <% if ! folder_view %>
            <%= link_back_to_catalog(:label=>'<i class="icon-backward"></i>'.html_safe, :link_to_opts => {:rel => 'tooltip', :title => 'Back to Search Results', :class => 'btn btn-mini'}) if results_view %>
            <%= render 'previous_next_doc' if results_view %>
          <% else %>
            <%= link_to('<i class="icon-backward"></i>'.html_safe, folder_index_path, {:rel => 'tooltip', :title => 'Back to Selected Items', :class => 'btn btn-mini'}) %>
          <% end %>

          <%= render_document_partial @document, :show %>
        </div><!--/#document-->

      </div><!--/#primary-->

      <div id="secondary" class="span4">
        <div class="document">
          <div id="doc_<%= @document.id.to_s.parameterize %>" data-toggle="modal-gallery" data-target="#modal-gallery">
              <%# not using bookmark/folder functions-%>
              <%#= render_show_doc_actions @document %>

            <div class="thumbnail"><img src="<%= get_image_uri(@document, 640) %>" alt="<%= @document.get('item_title') %>" /></div>

            <div id="item_level_back_prev_next_select_wrapper">



              <table id="view_site_captures" class="table table-bordered table-striped zebra-striped">
                <% if( ! @document.get('original_urls').blank? ) %>
                  <% original_url_arr = @document.get('original_urls',{:sep => nil}) %>
                  <% preview_icon = image_tag asset_path('search.png'), :alt => 'quicklook', :class => 'preview_icon' %>
                  <% archived_url_arr = @document.get('archived_urls', {:sep => nil}) %>

                  <%  # For now, we're assuming that there's a one-to-one link between
                      # original_urls and archive_urls, but I'm still doing a check to
                      # make sure that each original_url has a corresponding archive_url
                      # value
                  %>
                  <tr>
                    <td>View Site Captures</td>
                  </tr>
                  <tr>
                    <td>
                      <%
                      original_url_arr.each_index do |index|
                        if(original_url_arr[index] && archived_url_arr[index])
                          %><%= link_to(original_url_arr[index], archived_url_arr[index], :title => 'Permalink for: ' + original_url_arr[index]) %><%
                        end
                        if(original_url_arr[index+1] && archived_url_arr[index+1])
                            %><br /><%
                        end
                      end
                      %>
                    </td>
                  </tr>
                <% end %>
              </table>

            </div>

          </div>

        </div>
        <div class="tools"><%= render :partial => 'show_tools' %></div>
      </div><!--/#secondary-->

    </div><!--/.row-->
  </div><!--/#primary_container-->

  <%# OpenURL Coins Info (for Zotero compatibility) -%>
  <%= render :partial => 'catalog/openurl_coins_data_for_a_document', :locals => {:document => @document} %>
