<div class="container">

  <div class="row">
    <div id="primary" class="span12">
      <p class='floatright'>
        <%= link_to 'Return to results', params[:return_to] unless params[:return_to].blank? %>
      </p>
      <h3>Website Detail</h3>

      <article id='sdf_view' class="post">
        <table id='sdf_table' class='table table-bordered table-striped zebra-striped'>
          <thead>
            <tr>
              <th class='sdf_snapshot'>Title</th>
              <th><strong><%= @document.get('title') %></strong></th>
            </tr>
          </thead>
          <tbody>
            <%# Only show alternate title(s) if the field isn't empty %>
            <% if ! @document.get('alternate_title').blank? %>
            <tr>
              <td><%= ((@document.get('alternate_title',{:sep => nil})).length == 1) ? 'Alternate Title' : 'Alternate Title'.pluralize %></td>
              <td><%= @document.get('alternate_title', {:sep => nil}).join('<br />').html_safe %></td>
            </tr>
            <% end %>
            <tr>
              <td>Creator</td>
              <td><%= @document.get('creator_name') %></td>
            </tr>
            <tr>
              <td>Organization Type</td>
              <td><%= @document.get('organization_type') %></td>
            </tr>
            <tr>
              <td>Organization Based In</td>
              <td><%= @document.get('organization_based_in') %></td>
            </tr>
            <tr>
              <td>Geographic Focus</td>
              <td><%= @document.get('geographic_focus', {:sep => nil}).join('<br />').html_safe %></td>
            </tr>
            <tr>
              <td><%= ((@document.get('subject',{:sep => nil})).length == 1) ? 'Subject' : 'Subject'.pluralize %></td>
              <td><%= @document.get('subject', {:sep => nil}).join('<br />').html_safe %></td>
            </tr>
            <tr>
              <td>Summary</td>
              <td><%= @document.get('summary') %></td>
            </tr>
            <tr>
              <td><%= ((@document.get('language',{:sep => nil})).length == 1) ? 'Language' : 'Language'.pluralize %></td>
              <td><%= @document.get('language', {:sep => nil}).join('<br />').html_safe %></td>
            </tr>
            <tr>
              <% original_url_arr = @document.get('original_urls',{:sep => nil}) %>
              <% preview_icon = image_tag asset_path('search.png'), :alt => 'quicklook', :class => 'preview_icon' %>
              <% archived_url_arr = @document.get('archived_urls', {:sep => nil}) %>

              <% #For now, we're assuming that there's a one-to-one link between original_urls and archive_urls %>
              <% # TODO: Vertify that the above assumption is correct %>
              <% # I'm still doing a check to make sure that each original_url has a corresponding archive_url value %>
              <td><%= ((@document.get('original_urls', {:sep => nil})).length == 1) ? 'URL at Time of Capture' : 'URLs at Times of Capture' %></td>
              <td>
                <%
                original_url_arr.each_index do |index|
                  if(original_url_arr[index] && archived_url_arr[index])
                    %><%= original_url_arr[index].html_safe + ' - '.html_safe + link_to('See Website Captures', archived_url_arr[index], :title => 'CCF permalink for: ' + original_url_arr[index]) %><%
                  end
                  if(original_url_arr[index+1] && archived_url_arr[index+1])
                      %><br /><%
                  end
                end
                %>
              </td>
            </tr>
            <tr>
            </tr>
          </tbody>
        </table>
      </article>
    </div><!-- /primary -->
  </div><!-- /row -->

  <hr />

</div> <!-- /container -->
