<input type="hidden" name="search_mode" value="advanced" />

<h6>Find Pages/Sites that have&hellip;</h6>
<div class="input-prepend">
	<label class="pull-left span4 add-on">all these words:</label>
	<input class="pull-left span8 q_and" placeholder="Enter search terms..." name="q_and" size="16" type="text"/> <a title="You can do this in simple search by adding a + (plus sign) to the beginning of the word you require." rel="tooltip" href="#">tip</a>
</div>
<div class="input-prepend">
	<label class="pull-left span4 add-on">this exact wording or phrase:</label>
	<input class="pull-left span8 q_phrase" placeholder="Enter search terms..." name="q_phrase" size="16" type="text"/> <a title="You can do this in simple search by &quot;surrounding your phrase with quotes&quot;." rel="tooltip" href="#">tip</a>
</div>
<div class="input-prepend">
	<label class="pull-left span4 add-on">one or more of these words:</label>
	<input class="pull-left span8 q_or" placeholder="Enter search terms..." name="q_or" size="16" type="text"/>
</div>
<h6>But don't show results that have&hellip;</h6>
<div class="input-prepend">
	<label class="pull-left span4 add-on">any of these unwanted words:</label>
	<input class="pull-left span8 q_exclude" placeholder="Enter search terms..." name="q_exclude" size="16" type="text"/> <a title="You can do this in simple search by adding a - (minus sign) to the beginning of the word you don't want." rel="tooltip" href="#">tip</a>
</div>

<div class="row">
<div class="span12">
    <h6>Additional Options</h6>
<div class="span6 nomar">
	<div class="control-group">
	<label class="span2 control-label">organization type</label>
	<select name="f[organization_type__facet][]" class="pull-left" multiple="multiple">
	  <% selected_items = params[:f].nil? ? nil : params[:f][:organization_type__facet] %>
	  <% organization_type_options(:selected => selected_items).each do | key, value | %>
	    <%= '<option value="'.html_safe + key + '"'.html_safe + (value ? ' selected="selected"'.html_safe : ''.html_safe) + '>'.html_safe + key + '</option>'.html_safe %>
	  <% end %>
	</select>
    </div>
	<div class="control-group">
	<label class="span2 control-label">subject</label>
	<select name="f[subject__facet][]" class="pull-left" multiple="multiple">
	  <% selected_items = params[:f].nil? ? nil : params[:f][:subject__facet] %>
	  <% subject_options(:selected => selected_items).each do | key, value | %>
	    <%= '<option value="'.html_safe + key + '"'.html_safe + (value ? ' selected="selected"'.html_safe : ''.html_safe) + '>'.html_safe + key + '</option>'.html_safe %>
	  <% end %>
	</select>
    </div>
	<div class="control-group">
	<label class="span2 control-label">geographic focus</label>
	  <select name="f[geographic_focus__facet][]" class="pull-left" multiple="multiple">
	    <% selected_items = params[:f].nil? ? nil : params[:f][:geographic_focus__facet] %>
	    <% geographic_focus_options(:selected => selected_items).each do | key, value | %>
	      <%= '<option value="'.html_safe + key + '"'.html_safe + (value ? ' selected="selected"'.html_safe : ''.html_safe) + '>'.html_safe + key + '</option>'.html_safe %>
	    <% end %>
	  </select>
    </div>
	<div class="control-group">
	<label class="span2 control-label">organization based in</label>
	  <select name="f[organization_based_in__facet][]" class="pull-left" multiple="multiple">
	    <% selected_items = params[:f].nil? ? nil : params[:f][:organization_based_in__facet] %>
	    <% organization_based_in_options(:selected => selected_items).each do | key, value | %>
	      <%= '<option value="'.html_safe + key + '"'.html_safe + (value ? ' selected="selected"'.html_safe : ''.html_safe) + '>'.html_safe + key + '</option>'.html_safe %>
	    <% end %>
	</select>
    </div>

</div>
<div class="span6 nomar">
	<div class="control-group">
	<label class="span2 control-label">language</label>
	<select name="f[language__facet][]" class="pull-left" multiple="multiple">
	  <% selected_items = params[:f].nil? ? nil : params[:f][:language__facet] %>
	  <% language_options(:selected => selected_items).each do | key, value | %>
	    <%= '<option value="'.html_safe + key + '"'.html_safe + (value ? ' selected="selected"'.html_safe : ''.html_safe) + '>'.html_safe + key + '</option>'.html_safe %>
	  <% end %>
	</select>
	<!--Non-displayed facets below here-->
    </div>
	<div class="control-group">
	<label class="span2 control-label">site title</label>
	<select name="f[title__facet][]" class="pull-left" multiple="multiple">
	  <% selected_items = params[:f].nil? ? nil : params[:f][:title__facet] %>
	  <% title_options(:selected => selected_items).each do | key, value | %>
	    <%= '<option value="'.html_safe + key + '"'.html_safe + (value ? ' selected="selected"'.html_safe : ''.html_safe) + '>'.html_safe + key + '</option>'.html_safe %>
	  <% end %>
	</select>
    </div>
	<div class="control-group">
	<label class="span2 control-label">creator name</label>
	<select name="f[creator_name__facet][]" class="pull-left" multiple="multiple">
	  <% selected_items = params[:f].nil? ? nil : params[:f][:creator_name__facet] %>
	  <% creator_name_options(:selected => selected_items).each do | key, value | %>
	    <%= '<option value="'.html_safe + key + '"'.html_safe + (value ? ' selected="selected"'.html_safe : ''.html_safe) + '>'.html_safe + key + '</option>'.html_safe %>
	  <% end %>
	</select>
    </div>
	<div class="control-group">
	<label class="span2 control-label">original url</label>
	<select name="f[original_urls][]" class="pull-left" multiple="multiple">
	  <% selected_items = params[:f].nil? ? nil : params[:f][:original_urls] %>
	  <% original_urls_options(:selected => selected_items).each do | key, value | %>
	    <%= '<option value="'.html_safe + key + '"'.html_safe + (value ? ' selected="selected"'.html_safe : ''.html_safe) + '>'.html_safe + key + '</option>'.html_safe %>
	  <% end %>
	</select>
    </div>

</div>
</div>
</div>

<div class="row">
<div class="span12">
 <h6>display options</h6>
 <div class="span6 nomar">
	<div class="control-group">
	<label class="span2 control-label">results per page</label>
	<select class="control-group" name="per_page">
		<option>10</option>
		<option>25</option>
		<option>50</option>
	</select>
    </div>
 </div>
 <div class="span6 nomar">
	<div class="control-group">
	<label class="span2 control-label">sort</label>
	<select class="control-group" name="sort">
	  <option value="score desc" <%= params[:sort] == 'score desc' ? 'selected="selected"'.html_safe : ''.html_safe %>>Relevance</option>
	  <option value="title__facet asc" <%= params[:sort] == 'title__facet asc' ? 'selected="selected"'.html_safe : ''.html_safe %>>A-Z</option>
	  <option value="title__facet desc" <%= params[:sort] == 'title__facet desc' ? 'selected="selected"'.html_safe : ''.html_safe %>>Z-A</option>
	</select>
    </div>
 </div>
</div>
</div>

<div class="row">
<div class="span12">
 <h6>dev options (temporary)</h6>
 <div class="span6 nomar">
	<div class="control-group">
	<label class="span2 control-label">host</label>
	<select class="control-group pull-left">
	  <option></option>
	</select>
    </div>
 </div>
 <div class="span6 nomar">
	<div class="control-group">
	<label class="span2 control-label">core</label>
	<select class="control-group pull-left">
	  <option></option>
	</select>
    </div>
 </div>
</div>
</div>

<span>
  <%# hidden Submit button goes here -- allows use of enter for submitting form %>
  <input type="submit" value="submit" class="hidden_submit" />
</span>
