<input type="hidden" name="search_mode" value="advanced" />

<%= current_f_hash_as_hidden_fields %>

<div class="row">
<div class="span12">
    <h6>Add Additional Search Filters</h6>
<div class="span6 nomar">
        <div class="control-group">
        <label class="span2 control-label">organization type</label>
        <select name="f_add[organization_type__facet][]">
          <option value="">- Choose an option -</option>
          <% selected_items = params[:f].nil? ? nil : params[:f][:organization_type__facet] %>
          <% organization_type_options().each do | key, value | %>
            <%= '<option value="'.html_safe + key + '">'.html_safe + key + '</option>'.html_safe %>
          <% end %>
        </select>
    </div>
    <div class="control-group">
      <label class="span2 control-label">geographic focus</label>
      <select name="f_add[geographic_focus__facet][]">
        <option value="">- Choose an option -</option>
        <% selected_items = params[:f].nil? ? nil : params[:f][:geographic_focus__facet] %>
        <% geographic_focus_options().each do | key, value | %>
          <%= '<option value="'.html_safe + key + '">'.html_safe + key + '</option>'.html_safe %>
        <% end %>
      </select>
    </div>
        <div class="control-group">
        <label class="span2 control-label">organization based in</label>
          <select name="f_add[organization_based_in__facet][]">
            <option value="">- Choose an option -</option>
            <% selected_items = params[:f].nil? ? nil : params[:f][:organization_based_in__facet] %>
            <% organization_based_in_options().each do | key, value | %>
              <%= '<option value="'.html_safe + key + '">'.html_safe + key + '</option>'.html_safe %>
            <% end %>
        </select>
    </div>
        <div class="control-group">
        <label class="span2 control-label">file type</label>
        <select class="control-group" name="f_add[mimetype][]">
          <option value="">- Choose an option -</option>
          <%# selected_items = params[:f].nil? ? nil : params[:f][:mimetype] %>
          <%# file_type_options().each do | key, value | %>
            <%#= '<option value="'.html_safe + key + '"'.html_safe + (value ? ' selected="selected"'.html_safe : ''.html_safe) + '>'.html_safe + key + '</option>'.html_safe %>
          <%# end %>
        </select>
    </div>
</div>
<div class="span6 nomar">
        <div class="control-group">
        <label class="span2 control-label">site language</label>
        <select name="f_add[language__facet][]">
          <option value="">- Choose an option -</option>
          <% selected_items = params[:f].nil? ? nil : params[:f][:language__facet] %>
          <% language_options().each do | key, value | %>
            <%= '<option value="'.html_safe + key + '">'.html_safe + key + '</option>'.html_safe %>
          <% end %>
        </select>
        <!--Non-displayed facets below here-->
    </div>

        <div class="control-group">
        <label class="span2 control-label">creator name</label>
        <select name="f_add[creator_name__facet][]">
          <option value="">- Choose an option -</option>
          <% selected_items = params[:f].nil? ? nil : params[:f][:creator_name__facet] %>
          <% creator_name_options().each do | key, value | %>
            <%= '<option value="'.html_safe + key + '">'.html_safe + key + '</option>'.html_safe %>
          <% end %>
        </select>
    </div>
    <div class="control-group">
      <label class="span2 control-label">domain</label>
      <select class="control-group" name="f_add[domain][]">
        <option value="">- Choose an option -</option>
        <% selected_items = params[:f].nil? ? nil : params[:f][:domain] %>
        <% domain_options().each do | key, value | %>
          <%= '<option value="'.html_safe + key + '">'.html_safe + key + '</option>'.html_safe %>
        <% end %>
      </select>
    </div>
</div>
</div>
</div>

<div class="row">
	<div class="span12">
		<h6>date of capture</h6>

		<% capture_start_date_value =   params[ :capture_start_date ].nil?  ? '' : params[ :capture_start_date ]
         capture_end_date_value =       params[ :capture_end_date ].nil?    ? '' : params[ :capture_end_date   ] %>

		<div class="span6 nomar capture_start_date_group">
					 <div class="control-group">
					 <label class="span2 control-label">start date</label>
					 <input id="capture_start_date" class="span3 hrwadatepicker_start" type="text" name="capture_start_date" value="<%= capture_start_date_value %>" />
			 </div>
		</div>
		<div class="span6 nomar capture_end_date_group">
					 <div class="control-group">
					 <label class="span2 control-label">end date</label>
					 <input id="capture_end_date" class="span3 hrwadatepicker_end" type="text" name="capture_end_date" value="<%= capture_end_date_value %>" />
			 </div>
		</div>
	</div>
</div>

<div class="row">
	<div class="span12">
		<h6>display options</h6>
		<div class="span6 nomar">
					 <div class="control-group">
					 <label class="span2 control-label">results per page</label>
					 <select class="control-group" name="per_page">
									 <option>10</option>
									 <option>25</option>
									 <option>50</option>
                   <option>100</option>
					 </select>
			 </div>
		</div>
		<div class="span6 nomar">
					 <div class="control-group">
					 <label class="span2 control-label">sort</label>
					 <select class="control-group" name="sort">
						 <option value="score desc" <%= params[:sort] == 'score desc' ? 'selected="selected"'.html_safe : ''.html_safe %>>Relevance</option>
					 </select>
			 </div>
		</div>
	</div>
</div>

<div class="row">
    <div class="span12">
			<h6>dev options (temporary)</h6>
			<div class="span6 nomar">
				<div class="control-group">
                    <label class="span2 control-label">host</label>
                    <select id="hrwa_host_asf" name="hrwa_host" class="control-group pull-left"><%
                        hrwa_solr_host = params[:hrwa_host].blank? ? '' : get_current_hrwa_solr_host
                        %>
                        <option value=""<%= params[:hrwa_host].blank? ? ' selected="selected"'.html_safe : '' %>>- Choose an option -</option>
                        <option value="dev"<%= hrwa_solr_host == 'dev' ? ' selected="selected"'.html_safe : '' %>>Dev</option>
                        <option value="test"<%= hrwa_solr_host == 'test' ? ' selected="selected"'.html_safe : '' %>>Test</option>
                        <option value="prod"<%= hrwa_solr_host == 'prod' ? ' selected="selected"'.html_safe : '' %>>Prod</option>
                    </select>
				</div>
			</div>
			<div class="span6 nomar">
                <div class="control-group">
                    <label class="span2 control-label">core</label>
                    <select class="control-group pull-left">
                        <option value="">- Choose an option -</option>
                        <option value="asf" selected="selected">ASF (always selected for now)</option>
                    </select>
                </div>
			</div>
    </div>
</div>

<div class="row">
    <div class="span12">
			<h6>Weighting options (temporary)</h6>
			<div class="span12 nomar">
				<div class="control-group span10">
					<label id="url_weight_label" class="span2 control-label">URL: 1</label>
					<div id="url_weight_slider" data-val-from-url="<%= get_specific_search_weight_from_weighting_string('originalUrl', params[:field].nil? ? '' : params[:field].join('')) %>" class="clearfix"></div>
					<input type="hidden" id="url_weight" name="field[]" value="originalUrl^1"/>
				</div>
			</div>
			<div class="span12 nomar">
				<div class="control-group span10">
					<label id="page_title_weight_label" class="span2 control-label">Page Title: 1</label>
					<div id="page_title_weight_slider" data-val-from-url="<%= get_specific_search_weight_from_weighting_string('contentTitle', params[:field].nil? ? '' : params[:field].join('')) %>" class="clearfix"></div>
					<input type="hidden" id="page_title_weight" name="field[]" value="contentTitle^1"/>
				</div>
			</div>
			<div class="span12 nomar">
				<div class="control-group span10">
						<label id="page_content_weight_label" class="span2 control-label">Page Content: 1</label>
						<div id="page_content_weight_slider" data-val-from-url="<%= get_specific_search_weight_from_weighting_string('contentBody', params[:field].nil? ? '' : params[:field].join('')) %>" class="clearfix"></div>
						<input type="hidden" id="page_content_weight" name="field[]" value="contentBody^1"/>
				 </div>
			</div>
    </div>
</div>



<div class="row span11">
  <%# Submit button goes here -- presence of this button allows the enter key to submit the form %>
  <input type="submit" value="Search" class="btn pull-right adv_search_submit"/>
</div>
<div class="clearfix"></div>
