<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= h(@page_title || application_name) %></title>
    <meta name="description" content="">
    <meta name="author" content="">

    <%= csrf_meta_tags %>
    <%= render 'layouts/head_tag_content' %>
  </head>

  <% onload_text = "$('input#q').focus();" if params[:q].to_s.empty? and params[:f].to_s.empty? and params[:id].nil? %>
  <body onload="<%= onload_text %>" class="<%= render_body_class.html_safe %>">

    <div class="topbar">
      <div class="fill">
	<div class="invisible" id="cul_top">
	  <div id="cul_inner"><a href="http://columbia.edu" title="Columbia University - Home">CU</a> &gt; <a href="http://library.columbia.edu" title="Columbia University Libraries - Home">Libraries</a> &gt; <a href="http://library.columbia.edu/indiv/humanrights.html" title="Columbia University Libraries Center for Human Rights Documentation and Research">CHRDR</a><span id="cul_right">HUMAN RIGHTS WEB ARCHIVE at Columbia University</span></div>
	</div>
        <div class="container">
	  <ul id="crowndown" class="nav">
	    <li class="menu">
              <% crown_img = image_tag("crown-bts-24x24.png", :alt => "CU") %>
              <%= link_to crown_img, "#", :title => "External Links @ Columbia", :class => "menu" %>
              <ul class="menu-dropdown">
                <li><a href="http://columbia.edu">Columbia University - Home</a></li>
                <li><a href="http://library.columbia.edu">Libraries - Home</a></li>
                <li><a title="Columbia University Libraries - CHRDR" href="http://library.columbia.edu/indiv/humanrights.html">CUL Center for Human Rights Documentation and Research</a></li>
              </ul>
	    </li>
	  </ul>
          <h3 class='topbarlogo'><a href="<%= root_path %>" title="Human Rights Web Archive at Columbia University - Home">HRWA</a></h3>

          <%= form_tag search_path, :method => :get, :id => 'topsearchform' do %>
			<input type="hidden" name="search" value="true" />
            <div class="input-append">
                    <input class="span6" type="text" value="" placeholder="Start a new search&hellip;" size="16" id="q_t" name="q">
                    <label class="add-on"><input type="radio" name="search_type" id="fsfsearch_t" value="find_site"<%= (params[:search_type] != 'archive') ? ' checked="checked"'.html_safe : ''.html_safe; %>/> FSF</label>
                    <label class="add-on"><input type="radio" name="search_type" id="asfsearch_t" value="archive"<%= (params[:search_type] == 'archive') ? ' checked="checked"'.html_safe : ''.html_safe; %>/> ASF</label>
                    <label class="add-on hidden"> <a href="#" id="top_form_submit" class="submitss white">Submit</a></label>
            </div>
          <% end %>
          <ul id="dropdown" class="nav secondary-nav">
            <li class="menu">
              <a href="#" class="menu">Menu</a>
              <ul class="menu-dropdown">
                <li <% if current_page?(root_path) %>class="active"<% end %>><a href="<%= root_path %>">HRWA Home</a></li>
                <li <% if current_page?(about_path) %>class="active"<% end %>><a href="<%= about_path %>">About HRWA</a></li>
                <li><a href="#help" class="donothing">Help &amp; Tips</a></li>
                <li class="divider"></li>
                <li <% if current_page?(browse_path) %>class="active"<% end %>><a href="<%= browse_path %>">Browse HRWA</a></li>
                <li><%if params[:controller] == 'catalog' && params[:action] == 'index' %><%= debug_link %><% end %></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div> <!-- //.topbar -->

    <%
      # Start main content!
    %>

    <%= render :partial=>'/flash_msg' %>
    <%= yield %>

    <div id="ft">
      <%= raw(@footer) %>
      <div id="footnotes_holder"></div>
    </div>

    <%
      # End main content!
    %>

    <div class="container">
      <footer id="site_footer">
        <p class="alignright"><a href="#">Submit bug report</a></p>
	<p id="culcul"><span class="floatright">&copy; Columbia University Libraries 2012</span><!--<a href="http://columbia.edu">CU Home</a> &gt; <a href="http://library.columbia.edu">Libraries Home</a>--></p>
      </footer>
    </div> <!-- /container -->

    <div id="js_warn">
	<noscript><div class="alert-message danger">Javascript is required to view this website. Please enable it in your browser.</div></noscript>
    </div>

    <%= render 'layouts/footer_scripts' %>

  </body>
</html>
