<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<a href="/">Home</a>
<a href="/search">Search</a>
<a href="/about">About</a>
<a href="/browse">Browse</a>
<a href="/contact">Contact</a>
<a href="/faq">FAQ</a>

<%= yield %>

</body>
</html>
